@import 'styles/mixins.scss';
@import 'styles/variables.scss';

.pagination_container {
  display: flex;
  list-style-type: none;
  column-gap: 10px;
  justify-content: center;
  margin: 50px 0;
  @media (max-width: 450px){
    margin: 40px 0;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
  .round_buttons {
    display: flex;
    gap: 10px
  }
  .pagination_item {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    padding: 8px 12px;
    background-color: rgb(207 207 207 / 40%);
    color: color(black);
    transition: all 0.3s;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    &:hover {
      .right {
        color: color(white);
      }
      .left {
        color: color(white);
      }
    }
    @include phoneScreen {
      .right,
      .left {
        font-size: 14px;
      }
    }
    /* Non-prefixed version, currently
    not supported by any browser */
    &.width {
      width: 100px;
      border-radius: 20px !important;
    }

    &.dots:hover {
      background-color: transparent;
      cursor: default;
    }

    &:hover {
      color: color(white);
      background-color: color(green);
    }

    .arrow {
      &::before {
        position: relative;
        /* top: 3pt; Uncomment this to lower the icons as requested in comments*/
      }
    }

    .left {
      color: color(dark);
      transition: all 0.3s ease;
      border-radius: 20px;
      &::before {
        transform: rotate(-135deg) translate(-50%);
        position: absolute;
        margin-right: 11px;
        top: 12px;
        left: 14px;
        /* Icon [day] / Secondary */
        content: "";
        /* By using an em scale, the arrows will size with the font */
        display: inline-block;
        width: 0.4em;
        height: 0.4em;

      }
    }

    .right {
      color: color(dark);
      transition: all 0.3s ease;
      border-radius: 20px;
      &::after {
        transform: rotate(45deg);
        position: absolute;
        margin-left: 11px;
        top: 15px;
        right: 17px;
        /* Icon [day] / Secondary */
        content: "";
        /* By using an em scale, the arrows will size with the font */
        display: inline-block;
        width: 0.4em;
        height: 0.4em;
      }
    }

    &.disabled {
      pointer-events: none;
      display: none;
      .arrow::before {
        border-right: 0.12em solid rgba(0, 0, 0, 0.43);
        border-top: 0.12em solid rgba(0, 0, 0, 0.43);
      }

      &:hover {
        background-color: transparent;
        cursor: default;
      }
    }
  }

  .active {
    color: #FFF;
    background-color: #009247;
  }
}

.inactive {
  opacity: 0.6;
  pointer-events: none;
}
