@import 'styles/mixins.scss';
@import 'styles/variables.scss';

.bim__modal {
  padding: 5%;
  margin: 0 auto;
  height: 58vh;
  @include phoneScreen {
    padding: 5% 0 0 0;
    width: 100%;
  }

  .radios_block {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__title {
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 28px;
    color: color(dark);
    text-transform: uppercase;
    @include phoneScreen {
      margin-bottom: 10px;
    }
  }

  &__items {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    ul {
      display: flex;
      gap: 15px;
      background: #fff;
      box-shadow: 0 0 5px #e5e5e5;
      padding: 12px;
      border-radius: 10px;
    }
  }

  &__download {
    background-color: transparent;
    button {
      margin-top: 30px;
    }

    &__items {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      margin-bottom: 5%;
      gap: 20px;
  
      &__block {  
        li {
          label {
            cursor: pointer
          }
        }
      }
    }
  }
}