@import 'styles/mixins.scss';
@import 'styles/variables.scss';

.bim__modal {
  padding: 5%;
  margin: 0 auto;
  height: 58vh;
  @include phoneScreen {
    padding: 5% 0 0 0;
    width: 100%;
  }

  .radios_block {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__title {
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 28px;
    color: color(dark);
    text-transform: uppercase;
    @include phoneScreen {
      margin-bottom: 10px;
    }
  }
  //Стили для кнопки СКАЧАТЬ
  .disabled_active {
    margin: 20px 0 12px 0;
    display: flex;
    align-items: center;
    gap: 12px;
    color: color(white) !important;
    font-size: 16px;
    background-color: color(green) !important;
    padding: 7.5px 30px;
    svg {
      width: 18px;
      transition: all .2s ease;
      path {
        fill: white !important;
        transition: all .2s ease;
      }
    }

    &:hover {
      background: color(green);
      color: color(white);
      path {
        fill: #fff;
      }
    }
  }
  .disabled {
    margin: 20px 0 12px 0;
    display: flex;
    align-items: center;
    gap: 12px;
    color: color(white) !important;
    font-size: 16px;
    background-color: grey !important;
    padding: 12px 29px;
    cursor: not-allowed;
    svg {
      width: 18px;
      path {
        fill: white;
      }
    }
  }
  .error__span {
    color: red;
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 50px;
    ul {
      display: flex;
      gap: 15px;
      background: #fff;
      box-shadow: 0 0 5px #e5e5e5;
      padding: 12px;
      border-radius: 10px;
    }
  }

  &__download {
    background-color: transparent;
    &__items {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      margin-bottom: 5%;
      gap: 20px;
  
      &__block {  
        li {
          label {
            cursor: pointer
          }
        }
      }
    }
  }
}