@keyframes openModal {
  0% {
    max-height: 0;
    opacity:0
  }
  100% {
    max-height: 1000px;
    opacity: 1;
  }
}
.accordion__container__animation {
  list-style: none;
  .accordion__container {
    transition: all 0.5s;
    overflow: hidden;
    list-style: none;
    span{
      padding: 16px 15px;
    }
  }
  .accordion__container__item {
    animation: openModal 0.5s ease-in-out;
    padding: 15px;
    font-size: 16px;
    line-height: 150%;
    color: #212121;
    transition: all 0.5s ease;
    height: auto;
    background-color: #f9f9f9;
    margin-top: 10px;
    border-radius: 10px;
  }
}

.accordion__container {
  transition: all 1s;
  overflow: hidden;
  list-style: none;
}

.accordion__container__item {
  font-size: 16px;
  line-height: 150%;
  color: #212121;
  height: 0;
  padding:1px 15px;
}

.arrow {
  transform: rotate(-90deg);
  transition: all 0.5s;

  path {
    fill: #212121;
  }
}

.arrow__show {
  transition: all 0.1s;

  path {
    fill: #212121;
  }
}

.header_container {
  display: flex;
  padding: 0 10px 0 0;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background: #E0EFDE;
  border-radius: 6px;
  font-weight: 400;
  font-size: 18px;
  color: #414141;
  cursor: pointer;
  box-sizing: border-box;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
    span{
      padding: 16px 15px;
      font-size: 18px;
      width: 100%;
      letter-spacing: 0;
      line-height: 145%;
    }
}

