@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';


.factory__items {

  &__top {
    margin-bottom: 50px;
    h1 {
      font-weight: 400;
      font-size: 25px;
      color: color(dark);
      margin-bottom: 10px;
    }

    p {
      color: color(dark);
      font-size: 16px;
      opacity: 0.8;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.363);
    @include ipadScreen {
      flex-direction: column;
      gap: 20px;
      padding-bottom: 20px;
    }

    &__unfo {
      width: 55%;
      @include ipadScreen {
        width: 100%;
      }

      h2 {
        font-weight: 400;
        font-size: 25px;
        color: color(dark);
        margin-bottom: 10px;
      }

      p {
        color: color(dark);
        font-size: 16px;
        opacity: 0.8;
        line-height: 150%;
      }
    }

    &__image {
      width: 45%;
      overflow: hidden;
      border-radius: 10px;
      @include ipadScreen {
        width: 100%;
      }

      img {
        width: 100%;
        height: 1px;
      }
    }
  }
}