@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.input__container {
  position: relative;
  @include phoneScreen {
    width: 100%;
  }

  label {
    color: #5A5A5A;
    font-size: 14px;
    line-height: 16px;
    padding: 5px 5px;
    pointer-events: none;
    position: absolute;
    transition: all 200ms;
    transform: translateY(-30px) scale(1);
    left: 0;
  }

  &:focus-within {
    label {
      transform: translateY(-42px) scale(0.8);
      color: #6f81a5;
    }
  }

  input {
    border: none;
    outline: none;
    border-bottom: 1px solid #bcbdc0;
    padding: 15px 0 6px 11px;
    font-size: 14px;
    box-sizing: border-box;
    transition: background-color 600000s 0s, color 600000s 0s;
    &:focus {
      border-bottom: 1px solid green;
      color: color(green);
    }
  }

  input:focus + label,
  input {
    &:focus,
    &:not(:placeholder-shown),
    &:-webkit-autofill {
      & + label {
        transform: translateY(-45px) scale(0.8);
        opacity: 0.8;
      }
    }
  }
}
