@import '../../styles/mixins.scss';
@import '../../styles//variables.scss';

.input__container {
  position: relative;
  margin: 12px 0 0 0;
  overflow: hidden;
  width: 100%;
  @include phoneScreen {
    width: 100%;
  }

  label {
    color: #5A5A5A;
    font-size: 14px;
    line-height: 16px;
    padding: 5px 5px;
    pointer-events: none;
    position: absolute;
    transition: all 200ms;
    transform: translateY(-30px) scale(1);
    left: 0px;
  }

  &:focus-within {
    label {
      transform: translateY(-42px) scale(0.8);
      color: #6f81a5;
    }
  }

  input {
    border: none;
    outline: none;
    border-bottom: 1px solid grey;
    padding: 15px 0 6px 11px;
    transition: all 0.2s;
    &:focus {
      border-bottom: 1px solid green; 
      color: color(green);
    }
  }

  input:focus + label,
  input:not(:placeholder-shown) + label {
    // transform: translateY(-40px) scale(0.8);
    opacity: 0.8;
  }
}
