@import '../../../../styles/mixins.scss';
@import '../../../../styles/variables.scss';

.documentation {
  padding: 5%;
  @include phoneScreen {
    padding: 5% 0 0 0;
  }

  &__items {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 50px;
    @include ipadScreen {
      flex-direction: column;
    }
  }

  .modal__title {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: color(dark);
    text-transform: uppercase;
    margin-bottom: 25px;
    @include phoneScreen {
      margin-bottom: 10px;
    }
  }

  &__modeles {
    width: 50%;
    @include ipadScreen {
      width: 100%;
    }
    
    &__item {
      display: flex;
      flex-direction: column;
      a {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px 10px 30px;
        background-color: #F0F0F0;
        color: color(dark);
        transition: all 0.3s;
        border-radius: 5px;
        margin-bottom: 12px;
        position: relative;
        @include phoneScreen {
          padding: 10px;
          font-size: 14px;
        }

        &:hover {
          background-color: #009247;
          color: color(white);
          svg {
            right: 18px;
            path {
              fill: #fff;
            }
          }
        }

        svg {
          position: absolute;
          transition: all 0.3s;
          right: 25px;
          @include phoneScreen {
            right: 10px;
          }

          path {
            fill: #212121;
          }
        }
      }
    }
  }

}

.download {
  &__items {
    display: flex;
    align-items: flex-start;
    margin-bottom: 5%;
    gap: 100px;

    &__block {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 50px;
      @include ipadScreen {
        display: block;
      }

      li {
        label {
          cursor: pointer
        }
      }
    }
  }
}

