.director__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;
  padding: 0 0 8px 0;
  margin-bottom: 80px;

  &_item {
    padding: 0 0 15px 0;
    border-radius: 10px;
    overflow: hidden;
    background-color: rgb(245, 245, 245);
    transition: all 0.3s;
    &:hover {
      box-shadow: 0 0 30px rgba(20, 20, 20, 0.3);
      transform: translateY(-2px);
      transition: all 0.3s;
    }
    
    &_calls {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 10px 10px 10px;
      a {
        display: flex;
        align-items: center;
        gap: 4px;
        font-size: 16px;
        color: rgb(108, 109, 112);
        opacity: 0.9;
        transition: all 0.3s;
        &:hover {
          opacity: 1;
        }

        &:first-child {
          svg {
            width: 22px;
          }
        }

        svg {
          margin-right: 5px;
          path {
            fill: #33953A;
          }
        }
      }
    }

    &_img {
      img {
       width: 100%;
       height: 100%;
       display: block;
      }
    }

    &_info{
      background: #3b9900;
      padding: 15px 10px;
      h3{
        color: #FFF;
        text-align: center;
        font-size: 18px;
        font-weight: 400;
      }
    }
    p{
      font-weight: normal;
      line-height: 150%;
      color: #212121;
      padding: 8px;
      font-size: 16px;
    }
  }
}
