@import 'styles/mixins.scss';
@import 'styles/variables.scss';

.header {
  box-shadow: 0 3px 5px rgb(30 158 0 / 90%);
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  transition: all 0.3s;
  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 0;
    transition: all 0.3s;
    &_active {
      display: flex;
      justify-content: space-between;
      align-items: center;
      transition: all 0.3s;
      padding: 15px 0;
    }
    @media (max-width: 1200px) {
      padding: 20px 10px 20px 10px;
    }
  }

  &__logo {
    img {
      width: 130px;
      @include ipadScreen {
        width: 110px;
      }
    }
  }
}





