@import 'styles/mixins.scss';
@import 'styles/variables.scss';

.header {
  box-shadow: 0 3px 5px rgb(30 158 0 / 90%);
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  transition: all 0.3s;
  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
    transition: all 0.3s;
    &_active {
      display: flex;
      justify-content: space-between;
      align-items: center;
      transition: all 0.3s;
      padding: 25px 0 35px 0;
    }
    @media (max-width: 1200px) {
      padding: 35px 0;
    }
  }

  &__logo {
    img {
      width: 130px;
      @include ipadScreen {
        width: 110px;
      }
    }
  }

  &__profile {
    position: relative;
    @media (max-width: 1200px) {
      position: unset;
    }
    &_menu {
      background-color: color(white);
      width: 370px;
      right: 0;
      z-index: 0;
      position: absolute;
      display: flex;
      flex-direction: column;
      background-color: #fff;
      box-shadow: 0 0 8px color(shadow);
      border-radius: 15px;
      opacity: 0;
      transform: translate(0) scale(0);
      transition: all .2s;
      overflow: hidden;
      pointer-events: none;
      &.active {
        opacity: 1;
        transform: translate(0) scale(1);
        z-index: 2;
        pointer-events: inherit;
      }
      &_lists {
        display: flex;
        flex-direction: column;
        li {
          padding: 18px;
          border-bottom: 1px solid #bcbdc0;
          color: color(green);
          transition: all 0.3s;
          cursor: pointer;
          font-size: 16px;
          &:hover {
            background-color: color(green);
            color: color(white);
            border-color: transparent;
          }
          &:last-child {
            border-bottom: none;
          }
        }
      }
    }
    &_over{
      background-color: transparent;
      position: absolute;
      top: 0;
      height: 100vh;
      width: 100vw;
      left: 0;
    }
  }
}





