@import 'styles/mixins.scss';
@import 'styles/variables.scss';

.container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px 20px;
  padding: 0 10px;
  grid-template-areas:
    "col1 col2 col3"
    "col4 col5 col5";

  .col1 { grid-area: col1; }
  .col2 { grid-area: col2; }
  .col3 { grid-area: col3; }
  .col4 { grid-area: col4; }
  .col5 { grid-area: col5; }

  @include ipadScreen {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  li {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    max-height: 350px;
    @include ipadScreen {
      height: 300px;
    }

    &:last-child:nth-child(2n+1) {
      grid-column: span 2;
    }
    
    &:hover {
      .object__slider {
        left: 0;
      }
    }

    img {
      object-fit: cover;
    }

    .object__slider {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      left: -130%;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      line-height: 160%;
      transition: all 0.3s ease;
      background: linear-gradient(227.96deg, rgba(123, 169, 0, 0.86) -21.84%, #3477008c 103.24%);
      backdrop-filter: blur(5.5px);
      padding: 20px;
      @include phoneScreen {
        line-height: 145%;
      }

      span {
        position: relative;
        &:after {
          display: block;
          content: "";
          background: linear-gradient(227.96deg, rgba(124, 169, 0, 0.63) -21.84%, #337700 103.24%);
          height: 1px;
          width: 0;
          bottom: -12px;
          left: 50%;
          position: absolute;
          -webkit-transition: width .3s ease-in-out;
          -moz--transition: width .3s ease-in-out;
          transition: width .3s ease-in-out;
          -webkit-transform: translateX(-50%);
          -moz-transform: translateX(-50%);
          transform: translateX(-50%);
          //background-color: color(white);
        }
        p {
          text-align: center;
        }

        .title {
          font-size: 20px;
          margin-bottom: 8px;
          @include phoneScreen {
            font-size: 16px;
            line-height: 130%;
          }
        }

        .address {
          margin-bottom: 20px;
        }

        .sub__title {
          font-size: 18px;
          margin-bottom: 12px;
          @include phoneScreen {
            font-size: 16px;
            line-height: 130%;
          }
        }
        
        p {
          color: color(white);
          margin-bottom: 8px;
          font-size: 14px;
        }
      }
    }
  }
}
