@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

.references_container {
  max-width: 600px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.tabs_container {
  display: block;
  .tab_container {
    ul {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
      gap: 20px;
      grid-row-gap: 40px;
      .image_block_item {
        &:hover {
          img {
            transform: scale(1.1);
          }
        }
        .image_block {
          overflow: hidden;
          cursor: pointer;
          transition: all 0.3s;
          object-fit: cover;
          img {
            transition: all 0.3s;
          }
        }

        p {
          text-align: center;
          color: #009247;
          font-weight: 500;
          font-size: 18px;
          padding: 10px 0;
        }
      }
    }

  }
}
