@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.separator{
  text-align: center;
  .separator_title{
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 57px;
    font-size: 40px;
    letter-spacing: 0.015em;
    text-transform: uppercase;
    color: color(dark);
    @include phoneScreen {
      font-size: 30px;
      line-height: 145%;
    }

    @media (max-width: 400px) {
      font-size: 25px;
    }
  }
}
