@import 'styles/mixins.scss';
@import 'styles/variables.scss';

.separator__title__container {
  margin: 100px 0 30px 0;
  text-align: center;
  @include ipadScreen {
    margin: 50px 0 2% 0;
  }

  .separator_title {
    font-weight: 500;
    line-height: 57px;
    font-size: 40px;
    letter-spacing: 0.015em;
    text-transform: uppercase;
    color: color(dark);
    @include phoneScreen {
      font-size: 25px;
      line-height: 140%;
    }
  }
}


