@import 'styles/mixins.scss';
@import 'styles/variables.scss';

.certificates_container {
  display: flex;
  justify-content: center;
  margin: 40px auto 0;
}
.certificates__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(440px, 1fr));
  gap: 20px;
  margin: 50px 0 130px 0;
  @include ipadScreen {
    margin: 50px 0 80px 0;
  }
  @include phoneScreen {
    margin-bottom: 50px;
  }
  @media (max-width: 500px) {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
  }

  &__block {
    h2 {
      font-size: 20px;
      text-align: center;
      color: color(green);
      margin: 10px 0;
      font-weight: 400;
    }
  }

  &__item {
    border-radius: 10px;
    overflow: hidden;
    background-color: rgb(245, 245, 245);
    transition: all 0.3s;
    cursor: pointer;
    &:hover {
      box-shadow: 0 0 30px rgba(20, 20, 20, 0.2);
      transform: translateY(-2px);
      transition: all 0.3s;
    }
  }

  &__item__img {
    overflow: hidden;
    border-radius: 10px;
    &:hover {
      img {
        transform: scale(1.1);
      }
    }

    img {
      width: 100%;
      height: 100%;
      display: block;
      transition: all .3s;
    }
  }
}
.sil{
display: contents;
}
.sertificates__page__items {
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  flex-direction: column;
  gap: 60px;
  padding: 0 10px;
  margin: 80px 0 130px;
  @include ipadScreen {
    margin: 80px 0 100px;
  }

  @include phoneScreen {
    margin: 50px 0 80px;
  }

  &__card {
    display: flex;
    flex-direction: row;
    column-gap: 40px;
    text-align: left;
    justify-content: flex-start;

    .separ {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &__img {
      overflow: hidden;
      border-radius: 10px;
      margin: 0;
      min-width: 200px;

      &:hover {
        img {
          transform: scale(1.1);
        }
      }

      img {
        width: 100%;
        height: 100%;
        display: block;
        transition: all .3s;
      }
    }

    h2 {
      font-size: 24px;
      color: color(green);
      text-transform: uppercase;
      margin-bottom: 10px;
      display: contents;
    }

    h3 {
      text-align: left;
      font-size: 20px;
      line-height: 125%;
      font-weight: 400;
      margin-bottom: 8px;
      color: color(dark);
      margin-top: 10px;
    }

    p {
      text-align: left;
      font-size: 18px;
      line-height: 145%;
      color: color(gray);
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
}

//Стили, для кнопки скачать
.disabled_active {
  border-radius: 10px;
  width: 220px;
  &:hover {
    background: color(green);
    color: color(white);
    path {
      fill: #fff;
    }
  }
  button{
    display: flex;
    align-items: center;
    gap: 12px;
    transition: none !important;
  }
  span {
    svg {
      width: 18px;
    }
    path {
      fill: white;
    }
  }
}
.disabled {
  cursor: not-allowed;
  border-radius: 10px;
  width: 220px;
  button {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: grey !important;
    cursor: not-allowed !important;
    transition: none !important;
  }
}
