@import 'styles/mixins.scss';
@import 'styles/variables.scss';

.references__modal {
  box-sizing: border-box;

  &__logo {
    position: absolute;
    left: 20px;
    top: 20px;
  }

  &__body {
    &__image_box {
    
      width: 100%;
      height: 100%;
    }
  }
}