@import 'styles/mixins.scss';
@import 'styles/variables.scss';

.WhoweAbout_container{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
  img{
    margin: 0 auto;
    object-fit: cover;
    height: 600px;
    @include ipadScreen {
      height: 300px;
    }
  }

  &_about{
    background-color: #FFF;
    box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
    border-radius: 20px;
    text-align: center;
    margin: -220px auto 80px;
    max-width: 1000px;
    display: flex;
    padding: 50px 20px;
    flex-direction: column;
    @media (max-width: 1200px) {
      max-width: 90%;
    }
    @include ipadScreen {
      border-radius: 10px;
      margin: -130px auto 30px;
      padding: 30px;
      max-width: 80%;
    }

    @include phoneScreen {
      border-radius: 10px;
      padding: 15px 10px;
    }

    &_title{
      text-align: center;
      font-weight: 600;
      font-size: 50px;
      text-transform: uppercase;
      color: #212121;
      margin-bottom: 25px;
      @include ipadScreen {
        margin-bottom: 4%;
        font-size: 35px;
      }

      @include phoneScreen {
        margin-bottom: 4%;
        font-size: 28px;
      }
    }
    &_text{
      font-size: 16px;
      line-height: 145%;
      font-weight: normal;
      color: #212121;
      @include ipadScreen {
        line-height: 145%;
        font-size: 14px;
      }
      p{
        padding-bottom: 10px;
      }
    }
  }
}