@import 'styles/mixins.scss';
@import 'styles/variables.scss';

.bim_container {
  display: flex;
  justify-content: center;
  margin: 40px auto;
  padding: 0 10px;
}

.bim__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 0 10px 8px 10px;
  margin-bottom: 130px;
  @include ipadScreen {
    margin-bottom: 80px;
  }

  @include phoneScreen {
    margin-bottom: 50px;
  }

  &__item {
    padding: 0 0 50px 0;
    border-radius: 10px;
    overflow: hidden;
    background-color: rgb(245, 245, 245);
    transition: all 0.3s;
    cursor: pointer;
    position: relative;
    &:hover {
      box-shadow: 0 0 30px rgba(20, 20, 20, 0.2);
      transform: translateY(-2px);
      transition: all 0.3s;
      p {
        color: #F89A00;
      }
    }

    &__calendar {
      display: flex;
      align-items: center;
      gap: 10px;
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 10px;
      background-color: #e9e9e9;
    }
  }

  &__item__img {
    overflow: hidden;
    border-radius: 10px 10px 0 0;
    img {
      width: 100%;
      height: 100%;
      display: block;
    }
  }

  &__item__info {
    h1 {
      color: #FFF;
      text-align: center;
      font-size: 18px;
      font-weight: 400;
      background: #F89A00;
      padding: 15px 0;
    }

    p {
      font-weight: normal;
      line-height: 150%;
      color: #212121;
      padding: 8px;
      font-size: 16px;
    }
  }
}

.bim_banner {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}
