@import 'styles/mixins.scss';
@import 'styles/variables.scss';

.bim_container {
  display: flex;
  justify-content: center;
  margin: 40px auto;
}

.bim__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
  gap: 20px;
  margin-bottom: 130px;
  @include ipadScreen {
    margin-bottom: 80px;
  }

  @include phoneScreen {
    margin-bottom: 50px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    background-color: rgb(245, 245, 245);
    position: relative;
    transition: all .3s ease;
    overflow: hidden;
    box-shadow: 0 0 4px rgb(33 33 33 / 21%);
    &:hover {
      box-shadow: 0 -8px 30px rgba(0, 0, 0, 0.15);
    }

    .disabled_active {
      a {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 2;
        display: flex;
        align-items: center;
        gap: 12px;
        color: color(white);
        font-size: 16px;
        background-color: color(green);
        padding: 7.5px 30px;
        &:hover {
          background: color(green);
          color: color(white);
          path {
            fill: #fff;
          }
        }
        span {
          svg {
            width: 18px;
            transition: all .2s ease;
          }
          path {
            fill: white;
            transition: all .2s ease;
          }
        }
      }
    }
    .disabled {
      a {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 2;
        display: flex;
        align-items: center;
        gap: 12px;
        color: color(white);
        font-size: 16px;
        background-color: grey;
        padding: 12px 29px;
        cursor: not-allowed;
        span {
          svg {
            width: 18px;
          }
          path {
            fill: white;
          }
        }
      }
    }
    &__calendar {
      display: flex;
      align-items: center;
      gap: 10px;
      position: relative;
      bottom: 0;
      left: 0;
      padding: 10px;
      background-color: #e9e9e9;
    }
  }

  &__item__img {
    overflow: hidden;
    border-radius: 10px 10px 0 0;

    img {
      width: 100%;
      height: 100%;
      display: block;
    }
  }

  &__item__info {
    h1 {
      color: #FFF;
      text-align: center;
      font-size: 18px;
      font-weight: 400;
      background: #F89A00;
      padding: 15px 0;
    }

    p {
      font-weight: normal;
      line-height: 150%;
      color: #212121;
      display: -webkit-box;
      height: 90px;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
      padding: 10px 10px 20px 10px;
    }
  }
}

.bim_banner {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}
