@import 'styles/mixins.scss';
@import 'styles/variables.scss';

.job_container {
  margin: 40px auto 80px;
  position: relative;
  z-index: 2;
  @include ipadScreen {
    margin: 40px auto;
  }
}

.bottom__separator {
  margin-bottom: 0;
}

.job_container_item {
  display: flex;
  justify-content: center;
  margin: 0 auto 5%;
  gap: 20px;
  flex-direction: column;

  li {
    justify-content: space-between;
    align-items: center;
    background-color: #eaeaea;
    padding: 30px 40px;
    border-radius: 10px;
    border-bottom: 3px solid transparent;
    display: grid;
    grid-template-columns: 1fr 0.3fr;
    transition: all 0.3s ease 0s;

    &:hover {
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.14);
      transform: translateY(-3px);
      transition: all 0.3s;
    }

    @include phoneScreen {
      display: block;
      padding: 15px 10px;
    }

    & > div {
      &:last-child {
        display: flex;
        justify-content: flex-end;
        @include phoneScreen {
          justify-content: flex-start;
        }
      }

      div {
        &.title {
          font-size: 25px;
          color: #212121;
          margin-bottom: 12px;
        }

        &.address {
          font-size: 18px;
          font-weight: 600;
          color: #212121b5;
          margin-bottom: 8px;
        }

        &.desc {
          font-weight: normal;
          font-size: 16px;
          line-height: 150%;
          color: #212121;
          @include phoneScreen {
            margin-bottom: 18px;
          }
        }
      }
    }
  }
}

.vacancies__search_box {
  background-color: #F3F3F3;
  border-radius: 10px;
  margin: 0 auto;
  max-width: 970px;
  display: flex;
  align-items: center;
  padding: 50px;
  gap: 40px;
  justify-content: center;
  @include phoneScreen {
    padding: 30px 20px;
    gap: 20px;
    flex-direction: column;
  }
}

.job_count {
  border: 2px solid white;
  padding: 6px;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 6px;
  height: 6px;
  font-size: 10px;
  border-radius: 50%;
  color: color(white);
  box-shadow: 0 0 1px 0.5px color(job_circle);
}

.vacancies__bottom_info {
  margin-bottom: 130px;
  @include ipadScreen {
    margin-bottom: 80px;
  }

  @include phoneScreen {
    margin-bottom: 50px;
  }

  p {
    text-align: center;
    margin-top: 8px;
    font-size: 16px;
    line-height: 145%;
    color: #6f6f6f;

  }

  button {
    margin: 30px auto 0;
    width: 240px;
  }
}

.no_vacancies {
  width: 100%;
  background: color(white);
  box-shadow: 0 3px 30px rgb(0 0 0 / 6%);
  border-radius: 30px;
  h2 {
    font-size: 25px;
    font-weight: 400;
    color: color(green);
    margin-bottom: 10px;
  }

  p {
    font-size: 16px;
    color: color(green);
  }
}

.loading_container {
  height: 700px;
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(255 255 255);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  z-index: 1;
  @include ipadScreen {
    display: none;
  }
}
