.wrapper {
  display: flex;
  /* font-family: 'SF Pro Display';*/
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  flex-direction: column;
  overflow-y: auto;
  height: 100vh;
}
