@import 'styles/mixins.scss';
@import 'styles/variables.scss';

.wrapper {
  max-width: 1390px;
  margin: 0 auto;

  @include pcScreen {
    max-width: 1390px;
    margin: 0 auto;
  }
}

.wrapper_clear {
  max-width: 1390px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 40px;
  @include ipadScreen {
    padding: 0 20px;
  }
  @include phoneScreen {
    padding: 0 10px;
  }
}

.no_padding {
  padding: 0;
}
