@import "styles/mixins";

.wrapper {
  max-width: 1500px;
  padding: 0 90px;
  margin: auto;
  overflow: hidden;

  @include pcScreen{
    max-width: 1500px;
  }

  @include tabletScreen{
    padding: 0 60px;
  }

  @include ipadScreen{
    padding: 0 25px;
  }

  @include phoneScreen {
    padding: 0 15px;
  }
  background: #000;
}