@import 'styles/mixins.scss';
@import 'styles/variables.scss';

.questionnaires__container {
  margin: 40px auto 130px;
}
.questionnaires {
  display: flex;
  background-color: color(white);
  box-shadow: 0 3px 30px rgba(0, 0, 0, 0.06);
  border-radius: 12px;
  margin-bottom: 15px;
  gap: 12px;
  overflow: hidden;
  transition: all .3s;
  &:hover {
    box-shadow: 0 0 30px rgba(10, 176, 22, 0.4);
    background-color: #0AB016;
    h3, p {
      color: color(white);
    }
  }
  @include phoneScreen {
    flex-direction: column;
    gap: 0;
  }
  &__img__block {
    width: 250px;
    @include phoneScreen {
      width: 100%;
    }
  }
  &__info {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    h3 {
      font-size: 18px;
      font-weight: 400;
      margin: 0 0 6px 0;
      color: color(dark);
      line-height: 145%;
       @include phoneScreen {
         font-size: 16px;
         line-height: 135%;
       }
    }
    p {
      color: color(gray);
      font-size: 16px;
      text-transform: lowercase;
       @include phoneScreen {
         font-size: 14px;
       }
    }
  }
}