@import 'styles/mixins.scss';
@import 'styles/variables.scss';

.box_gallery_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: max-content;
  flex-wrap: wrap;
  gap: 10px;
  height: 350px;
  overflow: auto;
  align-items: flex-start;

  .cell_gallery {
    height: 100px;
    width: 146px;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(20, 20, 20, 0.5);

    .delete_icon {
      position: absolute;
      cursor: pointer;
      top: 5px;
      right: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      background-color: color(white);
      box-shadow: 0 0 10px rgba(20, 20, 20, 0.5);
    }

    img {
      width: 100%;
      height: 100%;
      border: 1px solid;
      object-fit: cover;
    }
  }

  .add_info_banner {
    background-color: #f1f1f1;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 146px;
    cursor: pointer;

    .added_input {
      position: relative;
      background-color: #009247;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      height: 50px;
      width: 50px;

      .added_label {

        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 10px;
        display: block;
        width: 40px;
        height: 40px;
        cursor: pointer;
        z-index: 2;

        svg {
          width: 40px;
          height: 40px;
        }

        &_span {
          display: none;
        }
      }
    }
  }
}

.block_button {
  margin-top: 10px;
  display: flex;
  gap: 20px;
  justify-content: center;
}