@import 'styles/mixins.scss';
@import 'styles/variables.scss';

.utp__container {
  position: relative;
  margin-top: 30px;

  &__top {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    @include ipadScreen {
      flex-direction: column;
    }

    &__calculation {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 0 20px 0;
      @include ipadScreen {
        padding: 0 12px;
      }

      p {
        line-height: 145%;
        max-width: 230px;
        @media (max-width: 500px) {
          margin-bottom: 3%;
          text-align: center;
        }
      }

      @media (max-width: 500px) {
        flex-direction: column;
      }
    }

    &__download {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include ipadScreen {
        padding: 0 12px;
      }

      @media (max-width: 500px) {
        flex-direction: column;
      }

      p {
        line-height: 145%;
        max-width: 300px;
        @media (max-width: 500px) {
          margin-bottom: 3%;
          text-align: center;
        }
      }
    }
  }

  &__top__list {
    width: 100%;
    background: #f3f3f3;
    padding: 25px;
    border-radius: 12px;
    box-sizing: border-box;
    @include ipadScreen {
      width: 100%;
      padding: 25px 0;
    }

    h3 {
      margin-bottom: 12px;
      font-size: 25px;
      font-weight: 500;
      @include ipadScreen {
        padding: 0 0 0 12px;
      }
    }

    p {
      margin-bottom: 8px;
      color: grey;
      @include ipadScreen {
        padding: 0 0 0 12px;
      }

      b {
        color: color(dark);
        margin-right: 4px;
      }
    }
  }

  &__top__buttons {
    padding: 38px 25px;
    border-radius: 12px;
    width: 100%;
    height: 100%;
    background: #f3f3f3;
    box-sizing: border-box;
    align-items: center;
    display: grid;
    @include ipadScreen {
      width: 100%;
      padding: 20px 0;
    }
  }

  &__bottom {
    background-color: #f3f3f3;
    color: color(dark);
    padding: 25px;
    font-size: 16px;
    line-height: 160%;
    border-radius: 10px;
    @include ipadScreen {
      padding: 12px;
    }
  }
}

.lh {
  line-height: 22px;
}

//Стили для окна БИМ
.download {
  padding: 50px;
  @include ipadScreen {
    padding: 0;
  }
  &__title {
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 28px;
    color: color(greeb);
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  &__blocks {
    display: flex;
    gap: 50px;
    margin-bottom: 20px;
    @include ipadScreen {
      flex-direction: column;
      gap: 20px;
    }
  }
  &__items {
    margin-bottom: 30px;
    width: 50%;
    @include ipadScreen {
      width: 100%;
      margin-bottom: 0;
    }
    .titles {
      margin-bottom: 30px;
      .first__title {
        font-size: 20px;
        color: color(dark);
      }
      ul {
        margin: 13px 0 0 0;
      }
      li {
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 18px;
        color: color(dark);
        label {
          margin: 0 6px 0 0;
          align-items: flex-start;
          input {
            padding: 11px;
          }
        }
      }
    }
  }

  &__pdf {
    width: 50%;
    @include ipadScreen {
      width: 100%;
    }
    &__items {
      flex-direction: column;
      display: flex;
      a {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 16px;
        color: #404040;
        transition: all 0.3s ease;
        span {
          width: 95%;
        }
        &:hover {
          background: color(green);
          box-shadow: 0 0 5px #dadada;
          color: color(white);
          path {
            fill: #fff;
          }
        }
        svg {
          path {
            fill: gray;
          }
        }
      }
    }
    &__list {
      padding: 10px 20px;
      background-color: #f0f0f0;
      transition: all .3s;
      border-radius: 5px;
      margin-bottom: 12px;
    }
  }
}
