@import 'styles/mixins.scss';
@import 'styles/variables.scss';

//первая форма
.first_form,
.second_form,
.third_form,
.fourth_form,
.fifth_form,
.sixth_form,
.seventh_form,
.eighth_form,
.ninth_form,
.tenth_form,
.eleventh_form,
.twelfth_form,
.thirteenth_form,
.fourteenth_form,
.fifteenth_form,
.sixteenth_form {
  margin: 100px 0 300px 0;
  border: 1px solid #bebebe;
  .border_top_title {
    border-top: 1px solid #bebebe;
  }
  p {
    line-height: 145%;
  }
  .border_bottom {
    border-bottom: 1px solid #bebebe;
  }
  .p {
    font-size: 18px;
    color: color(dark);
    margin-bottom: 15px;
  }
  .right_border {
    border-left: 1px solid #bebebe;
    padding: 0 0 0 25px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .right_flex {
    display: flex;
    align-items: center;
    gap: 20px;
    .input {
      width: 350px;
    }
  }
  &_textarea {
    padding: 10px;
  }
  &_top_title {
    padding: 10px;
    border-bottom: 1px solid #bebebe;
    p {
      font-size: 22px;
      margin: 0 auto;
      text-align: center;
      color: color(green);
      line-height: 145%;
    }
  }
  &_top_first {
    text-align: center;
    border-bottom: 1px solid #bebebe;
    .middle_block {
      font-size: 18px;
      line-height: 145%;
      color: color(dark);
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
    }
    .input {
      width: 200px;
    }
    p {
      text-align: center;
      font-size: 14px;
      color: color(dark);
      margin: 12px auto;
    }
  }
  .top_content_last_block {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #bebebe;
    .input {
      width: 400px;
      margin: 10px auto 0;
    }
  }
  &_inputs {
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 20px 15px;
    border-bottom: 1px solid #bebebe;
  }
  &_left_block {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 14px;
    h3 {
      font-size: 20px;
      font-weight: 400;
      line-height: 145%;
    }
  }
  &_right_block {
    width: 80%;
    textarea {
      color: color(dark);
      box-sizing: border-box;
      overflow: hidden;
      width: 100%;
      height: 100px;
      padding: 10px;
      font-size: 14px;
      border-radius: 4px;
      background-color: #FFF;
      border-color: #cfcfcf;
      &::placeholder {
        color: color(dark);
      }
    }
  }
  &_text {
    display: flex;
    align-items: center;
    background: color(green);
    p {
      color: color(white);
      font-size: 18px;
      padding: 12px 10px;
      text-align: center;
    }
  }
  &_textarea {
    padding: 20px 10px;
    textarea {
      color: color(dark);
      box-sizing: border-box;
      overflow: hidden;
      width: 100%;
      height: 120px;
      padding: 10px;
      font-size: 14px;
      border-radius: 4px;
      background-color: #FFF;
      border-color: #cfcfcf;
      &::placeholder {
        color: color(dark);
      }
    }
  }
  &_button {
    margin: 20px auto;
    display: flex;
    justify-content: center;
  }

}

//вторая форма
.second_form {
  &_radios {
    padding: 15px 0;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #bebebe;
  }
  &_middle_title {
    padding: 10px;
    border-bottom: 1px solid #bebebe;
    p {
      font-size: 20px;
      max-width: 55%;
      margin: 0 auto;
      text-align: center;
      color: #009247;
      line-height: 145%;
    }
  }
  &_middle_title_block {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #bebebe;
    .second_form_left_title {
      padding: 12px 0;
      width: 50%;
      h3 {
        text-align: center;
        font-size: 18px;
        color: grey;
        font-weight: 400;
      }
      h2 {
        text-align: center;
        font-size: 18px;
        color: color(dark);
        font-weight: 400;
      }
    }
    .second_form_right_title {
      padding: 12px 0 !important;
      width: 50%;
      h3 {
        font-size: 18px;
        color: grey;
        font-weight: 400;
      }
      h2 {
        padding: 0 0 0 50px;
        font-size: 18px;
        color: color(dark);
        font-weight: 400;
      }
    }
    .input__item {
      width: 200px;
      padding: 0 0 0 50px;
    }
  }
  &_middle_radio_block {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #bebebe;
    .second_form_left_title_block {
      width: 50%;
      h3 {
        text-align: center;
        font-size: 18px;
        color: grey;
        font-weight: 400;
      }
    }
    .second_form_right_radio {
      width: 50%;
    }
    .right_border {
      padding: 12px 0 !important;
    }
    .second_form_radios_wrapp {
      padding-left: 45px;
      display: flex;
      flex-direction: column;
      gap: 6px;
    }
  }
}

//Третья форма
.third_form {
  .third_form_right_block_middle_input {
    margin-top: 20px;
    width: 50%;
  }
  &_radios {
    padding: 15px 0;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #bebebe;
  }
  &_inputs_row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0;
  }
  .inputs_column {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    p {
      font-size: 20px;
      color: color(dark);
    }
  }
  .radio_column {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .left_inputs {
    width: 100%;
  }
  &_checkbox_wrapp {
    display: flex;
    align-items: flex-end;
    gap: 40px;
    margin: 0 0 12px 0;
  }
  .checkbox_wrapp {
    label {
      margin-bottom: 0;
    }
    input {
      padding-top: 0;
    }
  }
  .checkbox_wrapp_no_gap {
    gap: 10px;
    p {
      color: #525252;
      font-size: 14px;
    }
  }
  .radio_title {
    font-size: 18px;
    color: color(dark);
    margin-bottom: 12px;
  }
  &_middle_title_block {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #bebebe;
    .second_form_left_title {
      padding: 12px 0;
      width: 50%;
      h3 {
        text-align: center;
        font-size: 18px;
        color: grey;
        font-weight: 400;
      }
      h2 {
        text-align: center;
        font-size: 18px;
        color: color(dark);
        font-weight: 400;
      }
    }
    .second_form_right_title {
      padding: 12px 0 !important;
      width: 50%;
      h3 {
        font-size: 18px;
        color: grey;
        font-weight: 400;
      }
      h2 {
        padding: 0 0 0 50px;
        font-size: 18px;
        color: color(dark);
        font-weight: 400;
      }
    }
    .input__item {
      width: 200px;
      padding: 0 0 0 50px;
    }
  }
  &_inputs_middle {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid #bebebe;
  }
  &_left_img_block {
    width: 180px;
  }
  &_left_block_image_input {
    width: 50%;
    border-right: 1px solid #bebebe;
    padding: 20px;
  }
  &_right_block_image_input {
    width: 50%;
    padding: 20px;
  }
  &_radios_middle {
    margin: 20px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .input__item_res {
    margin: 20px 0;
  }
  .inputs_middle_block {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .input_middle_first_block {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 50%;
  }
  .input_middle_second_block {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 50%;
  }
  .input_м3 {
    width: 100px;
  }
  .radios_middle {
    display: flex;
    flex-direction: column;
    gap: 5px;
    p {
      margin-bottom: 8px;
      font-size: 20px;
      color: color(dark);
    }
    &_bottom_checkbox {
      margin: 30px 0 0 0;
    }
  }
  .radios_middle_last {
    margin-top: 30px;
  }
  &_columns {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 15px 0;
    gap: 25px;
    border-bottom: 1px solid #bebebe;
    &_item {
      width: 22%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      &_title {
        margin-bottom: 20px;
        p {
          padding: 5px 0 17px 0;
          font-size: 20px;
        }
      }
      &_inputs {
        width: 90%;
        display: flex;
        flex-direction: column;
        gap: 18px;
        .input_м2 {
          width: 100%;
        }
      }
    }
    &_block {
      display: flex;
      align-items: flex-start;
      gap: 50px;
      &_left {
        display: flex;
        flex-direction: column;
        gap: 18px;
        p {
          padding: 10px 0 0 0;
        }
      }
      &_right_block {
        p {
          font-size: 20px;
          margin-bottom: 20px;
        }
      }
      &_right {
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
      }
    }
    &_block_last {
      flex-direction: column;
      display: flex;
      gap: 5px;
      p {
        margin-bottom: 12px !important;
        font-size: 18px;
      }
    }
    &_checkboks {
      margin: 15px 0;
    }
  }
  &_inputs_second_variant {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 20px 15px;
    p {
      font-size: 18px;
      color: color(dark);
      margin-bottom: 20px;
    }
  }
  .border_top_title {
    border-top: 1px solid #bebebe;
  }
  &_air {
    margin-bottom: 20px;
  }
  &_radios_two {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 12px;
  }
  &_P {
    font-size: 18px;
    margin-bottom: 10px;
    color: color(dark);
  }
  &_input_short {
    width: 200px;
  }
}

//четвертая форма
.fourth_form {
  &_right_block_middle_input {
    margin-top: 20px;
    width: 50%;
  }
  &_radios {
    padding: 15px 0;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #bebebe;
  }
  .radio_column {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  &_schemes {
    padding: 20px 15px;
    p {
      text-align: center;
    }
  }
  &_schemes_images_block {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    grid-gap: 20px;
    gap: 20px;
    &_img {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border: 1px solid #bebebe;
      padding: 10px;
      overflow: hidden;
    }
    img {
      width: auto;
      height: 150px;
    }
  }
  .center_title {
    text-align: center;
    color: color(dark);
    font-weight: 400;
    padding: 10px;
  }
  .radio_column_parent {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &_columns_block_right {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 25px;
    p {
      font-size: 14px;
      line-height: 145%;
      color: color(dark);
    }
  }
  &_grid_checkbox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    &_gap {
      column-gap: 40px;
      label {
        margin-bottom: 0;
      }
    }
  }
  &_inputs_variant {
    padding: 20px 15px;
    display: flex;
    align-items: flex-start;
    gap: 50px;
  }
  &_check_and_input {
    display: flex;
    align-items: flex-end;
    gap: 50px;
    justify-content: space-between;
  }
  &_columns_block_inputs {
    padding: 20px 15px;
    display: flex;
    gap: 50px;
    .column_block {
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
  }
}

//Пятая форма
.fifth_form {
  &_radios {
    padding: 15px 0;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #bebebe;
  }
  .radios_middle_bottom_checkbox {
    padding: 20px 15px;
  }
  .radio_column {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .padding_10 {
    padding: 12px 15px;
  }
  &_column_block {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 50px 0 0 0;
    p {
      color: color(dark);
      font-size: 16px;
      line-height: 145%;
    }
    .left_column,
    .right_column {
      width: 50%;
      h4 {
        color: color(dark);
        text-align: center;
        padding: 10px;
        border-top: 1px solid #bebebe;
        border-bottom: 1px solid #bebebe;
      }
    }
    .left_column {
      border-right: 1px solid #bebebe;
    }
  }
  .fifth_form_inputs_padding {
    padding: 87px 15px;
    .fifth_form_left_block {
      width: 50%;
    }
  }
  &_middle_block {
    display: flex;
    gap: 20px;
  }
  &_columns_block_right {
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 50px;
  }
  .checkbox_wrapp {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  &_colum_gap {
    gap: 30px;
  }
  &_column_flex {
    padding: 20px 15px;
    display: flex;
    justify-content: space-between;
  }
  &_flex_checkbox {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .border_top_title {
    border-top: 1px solid #bebebe;
  }
  &_column_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    grid-gap: 20px;
    gap: 35px;
    padding: 20px 15px;
  }
}

//Шестая форма
.sixth_form {
  &_radios {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    border-bottom: 1px solid #bebebe;
  }
  &_flex {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid #bebebe;
    &_left {
      width: 50%;
      padding: 20px 15px;
      &_block {
        display: flex;
        flex-direction: column;
        gap: 25px;
        p {
          margin-bottom: 8px;
        }
      }
    }
  }
  &_img_1 {
    border-left: 1px solid #bebebe;
    padding: 20px;
    width: 50%;
  }
  &_img_2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    div {
      width: 80%;
      margin: 0 auto;
    }
  }
  &_img_3 {
    display: flex;
    flex-direction: column;
    gap: 50px;
    border: none;
    width: 100%;
    div {
      width: 50%;
      margin: 0 auto;
      img {
        width: 100%;
      }
    }
  }
  &_img_4 {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
  }
  &_top_images {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 20px;
    width: 70%;
  }
  &_bottom_images {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 20px;
    width: 70%;
  }
  &_flex_inputs {
    padding: 20px 15px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    &_block {
      width: 17%;
      label {
        width: 100%;
      }
    }
  }
  &_columns_block_last {
    padding: 20px 15px;
  }
  &_button {
    padding: 20px 0 0 0 ;
  }
}

//Седьмая форма
.seventh_form {
  &_radios {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    border-bottom: 1px solid #bebebe;
  }
  &_middle_blocks {
    display: flex;
    border-bottom: 1px solid #bebebe;
    &_left {
      width: 50%;
      border-right: 1px solid #bebebe;
      padding: 20px 15px;
    }
    &_right {
      width: 50%;
      padding: 20px 15px;
    }
  }
  .radios_middle_bottom_checkbox {
    p {
      margin-bottom: 12px;
    }
  }
  .radios_middle_bottom_checkbox_column {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 40%;
  }
  .middle_checkbox_column {
    gap: 0;
  }
  .border_top_title {
    padding: 20px 0 0 0;
  }
}

//Восьмая форма
.eighth_form {
  &_radios {
    display: flex;
    justify-content: center;
    padding: 10px;
  }
  .input {
    margin: 12px 0;
    width: 70%;
  }
  .right_flex {
    border-left: 1px solid #bebebe;
    display: flex;
    align-items: flex-start;
    gap: 0;
  }
  &_middle {
    width: 50%;
    padding: 20px 15px;
  }
  &_middle_content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-right: 1px solid #bebebe;
    label {
      margin-bottom: 0;
    }
  }
  &_last {
    width: 50%;
    padding: 20px 15px;
  }
  &_title {
    margin-bottom: 20px;
    p {
      text-align: center;
      line-height: 145%;
    }
  }
  .input_column {
    display: flex;
    flex-direction: column;
    margin: 8px 0;
    gap: 10px;
    p {
      line-height: 135%;
    }
  }
  .input_flex {
    display: flex;
    align-items: flex-end;
    padding: 0 15px;
    margin-bottom: 12px;
  }
  &_checkboxes {
    margin-bottom: 20px;
    p {
      margin-bottom: 15px;
    }
  }
  .input_columns {
    display: flex;
    flex-direction: column;
    gap: 3px;
    label {
      align-items: flex-start;
    }
  }
  &_exchanger {
    display: flex;
    border-bottom: 1px solid #bebebe;
    &_first_block {
      width: 16%;
      padding: 20px 15px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .input_and_title {
    margin: 12px 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  &_first {
    padding: 20px 15px;
  }
  &_last {
    label {
      align-items: flex-start;
      margin-bottom: 0;
    }
  }
  &_columns_block_last {
    padding: 20px 15px;
    .checkbox_wrapp {
      display: flex;
      align-items: self-end;
      gap: 20px;
    }
  }
  .textarea {
    padding: 10px 0;
  }
  .pharagrafs {
    margin: 12px 0 16px 0;
  }
  &_button {
    padding: 20px 0 0 0;
  }
}

//Девятая форма
.ninth_form {
  &_radios {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
  }
  &_left_block {
    h3 {
      font-size: 18px;
    }
  }
  &_columns_block_last {
    padding: 20px 15px;
    p {
      margin-bottom: 16px;
    }
  }
  .input_width {
    width: 50%;
  }
  &_button {
    padding: 20px 0 0 0;
  }
}

//Десятая форма
.tenth_form, .eleventh_form, .fourteenth_form {
  &_radios {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
  }
  .border_title {
    border-top: 1px solid #bebebe;
  }
  &_columns_block_right {
    display: flex;
    gap: 20px;
    padding: 20px 15px;
  }
  &_inputs_grid {
    padding: 20px 15px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    &_row {
      p {
        color: color(dark);
        margin-bottom: 12px;
        line-height: 145%;
      }
      .items {
        display: flex;
        flex-direction: column;
        gap: 5px;
        &_row {
          display: flex;
          flex-direction: column;
          gap: 5px;
          margin-bottom: 20px;
        }
      }
    }
  }
  &_right_block {
    .p {
      margin: 0 0 0 0;
    }
  }
  .inputs_row {
    display: flex;
    align-items: baseline;
    gap: 20px;
    margin-bottom: 25px;
  }
  &_schemes_images_block {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 20px;
    &_img {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border: 1px solid #bebebe;
      padding: 10px;
      overflow: hidden;
    }
    img {
      width: auto;
      height: 150px;
    }
  }
  .one_radio_and_input {
    margin: 20px 0;
  }
  .right_block {
    display: flex;
    align-items: center;
    gap: 50px;
  }
  .right_block_first_item {
    width: 20%;
  }
  .kanal {
    margin-bottom: 15px;
    font-size: 18px;
  }
  .top_padding {
    padding: 20px 0;
  }
}

//Одинацатая форма
.eleventh_form {
  h3 {
    font-size: 18px;
  }
  &_radios {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
  }
  .border_title {
    border-top: 1px solid #bebebe;
  }
  .inputs_row {
    margin-bottom: 20px;
  }
}

//Двинадцатая форма
.twelfth_form {
  h3 {
    font-size: 18px;
  }
  &_top_first {
    .middle_block {
      align-items: self-end;
    }
  }
  .inputs_row {
    display: flex;
    align-items: baseline;
    gap: 20px;
    margin-bottom: 25px;

  }
}

//Тринадцатая форма
.thirteenth_form {
  h3 {
    font-size: 18px;
  }
  &_top_first {
    .middle_block {
      align-items: self-end;
    }
  }
  .inputs_row {
    display: flex;
    align-items: baseline;
    gap: 20px;
    margin-bottom: 25px;

  }
}

//Четырнадцатая форма
.fourteenth_form {
  h3 {
    font-size: 18px;
  }
  .inputs_row {
    display: flex;
    align-items: baseline;
    gap: 20px;
    margin-bottom: 25px;
  }
  &_radios {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
  }
  .border_title {
    border-top: 1px solid #bebebe;
  }
}

//Пятнадцатая форма
.fifteenth_form {
  h3 {
    font-size: 18px;
  }
  .inputs_row {
    display: flex;
    align-items: baseline;
    gap: 20px;
    margin-bottom: 25px;
  }
  &_radios {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
  }
  .border_title {
    border-top: 1px solid #bebebe;
  }
  .kanal {
    margin-bottom: 20px;
  }
}

//Шестьнадцатая форма
.sixteenth_form {
  h3 {
    font-size: 18px;
  }
  .inputs_row {
    display: flex;
    align-items: baseline;
    gap: 20px;
    margin-bottom: 12px;
  }
  .border_title {
    border-top: 1px solid #bebebe;
  }
  .kanal {
    margin-bottom: 20px;
  }
  &_images_container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 15px;
  }
  &_images_block {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}























