@import 'styles/mixins.scss';
@import 'styles/variables.scss';

//первая форма
.first_form,
.second_form,
.third_form {
  margin: 100px 0 300px 0;
  border: 1px solid #bebebe;
  .right_border {
    border-left: 1px solid #bebebe;
    padding: 0 0 0 25px;
  }
  .right_flex {
    display: flex;
    align-items: center;
    gap: 20px;
    .input {
      width: 350px;
    }
  }
  &_textarea {
    padding: 10px;
  }
  &_top_title {
    padding: 10px;
    border-bottom: 1px solid #bebebe;
    p {
      font-size: 22px;
      max-width: 55%;
      margin: 0 auto;
      text-align: center;
      color: color(green);
      line-height: 145%;
    }
  }
  &_top_first {
    text-align: center;
    border-bottom: 1px solid #bebebe;
    .middle_block {
      font-size: 18px;
      line-height: 145%;
      color: color(dark);
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
    }
    .input {
      width: 200px;
    }
    p {
      text-align: center;
      font-size: 14px;
      color: color(dark);
      margin: 12px auto;
    }
  }
  .top_content_last_block {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #bebebe;
    .input {
      width: 400px;
      margin: 10px auto 0;
    }
  }
  &_inputs {
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 20px 15px;
    border-bottom: 1px solid #bebebe;
  }
  &_left_block {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 14px;
    h3 {
      font-size: 20px;
      font-weight: 400;
      line-height: 145%;
    }
  }
  &_right_block {
    width: 80%;
    textarea {
      color: color(dark);
      box-sizing: border-box;
      overflow: hidden;
      width: 100%;
      height: 100px;
      padding: 10px;
      font-size: 14px;
      border-radius: 4px;
      background-color: #FFF;
      border-color: #cfcfcf;
      &::placeholder {
        color: color(dark);
      }
    }
  }
  &_text {
    display: flex;
    align-items: center;
    background: color(green);
    p {
      color: color(white);
      font-size: 18px;
      padding: 12px 10px;
      text-align: center;
    }
  }
  &_textarea {
    padding: 20px 10px;
    textarea {
      color: color(dark);
      box-sizing: border-box;
      overflow: hidden;
      width: 100%;
      height: 120px;
      padding: 10px;
      font-size: 14px;
      border-radius: 4px;
      background-color: #FFF;
      border-color: #cfcfcf;
      &::placeholder {
        color: color(dark);
      }
    }
  }
  &_button {
    margin: 20px auto;
    display: flex;
    justify-content: center;
  }

}

//вторая форма
.second_form {
  &_radios {
    padding: 15px 0;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #bebebe;
  }
  &_middle_title {
    padding: 10px;
    border-bottom: 1px solid #bebebe;
    p {
      font-size: 20px;
      max-width: 55%;
      margin: 0 auto;
      text-align: center;
      color: #009247;
      line-height: 145%;
    }
  }
  &_middle_title_block {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #bebebe;
    .second_form_left_title {
      padding: 12px 0;
      width: 50%;
      h3 {
        text-align: center;
        font-size: 18px;
        color: grey;
        font-weight: 400;
      }
      h2 {
        text-align: center;
        font-size: 18px;
        color: color(dark);
        font-weight: 400;
      }
    }
    .second_form_right_title {
      padding: 12px 0 !important;
      width: 50%;
      h3 {
        font-size: 18px;
        color: grey;
        font-weight: 400;
      }
      h2 {
        padding: 0 0 0 50px;
        font-size: 18px;
        color: color(dark);
        font-weight: 400;
      }
    }
    .input__item {
      width: 200px;
      padding: 0 0 0 50px;
    }
  }
  &_middle_radio_block {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #bebebe;
    .second_form_left_title_block {
      width: 50%;
      h3 {
        text-align: center;
        font-size: 18px;
        color: grey;
        font-weight: 400;
      }
    }
    .second_form_right_radio {
      width: 50%;
    }
    .right_border {
      padding: 12px 0 !important;
    }
    .second_form_radios_wrapp {
      padding-left: 45px;
      display: flex;
      flex-direction: column;
      gap: 6px;
    }
  }
}

//Третья форма
.third_form {
  .third_form_right_block_middle_input {
    margin-top: 20px;
    width: 50%;
  }
  &_radios {
    padding: 15px 0;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #bebebe;
  }
  &_inputs_row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0;
  }
  .inputs_column {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    p {
      font-size: 20px;
      color: color(dark);
    }
  }
  .radio_column {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .left_inputs {
    width: 100%;
  }
  &_checkbox_wrapp {
    display: flex;
    align-items: flex-end;
    gap: 40px;
    margin: 0 0 12px 0;
  }
  .checkbox_wrapp {
    label {
      margin-bottom: 0;
    }
    input {
      padding-top: 0;
    }
  }
  .checkbox_wrapp_no_gap {
    gap: 10px;
    p {
      color: #525252;
      font-size: 14px;
    }
  }
  .radio_title {
    font-size: 18px;
    color: color(dark);
    margin-bottom: 12px;
  }
  &_middle_title_block {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #bebebe;
    .second_form_left_title {
      padding: 12px 0;
      width: 50%;
      h3 {
        text-align: center;
        font-size: 18px;
        color: grey;
        font-weight: 400;
      }
      h2 {
        text-align: center;
        font-size: 18px;
        color: color(dark);
        font-weight: 400;
      }
    }
    .second_form_right_title {
      padding: 12px 0 !important;
      width: 50%;
      h3 {
        font-size: 18px;
        color: grey;
        font-weight: 400;
      }
      h2 {
        padding: 0 0 0 50px;
        font-size: 18px;
        color: color(dark);
        font-weight: 400;
      }
    }
    .input__item {
      width: 200px;
      padding: 0 0 0 50px;
    }
  }
  &_inputs_middle {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid #bebebe;
  }
  &_left_img_block {
    width: 180px;
  }
  &_left_block_image_input {
    width: 50%;
    border-right: 1px solid #bebebe;
    padding: 20px;
  }
  &_right_block_image_input {
    width: 50%;
    padding: 20px;
  }
  &_radios_middle {
    margin: 20px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .input__item_res {
    margin: 20px 0;
  }
  .inputs_middle_block {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .input_middle_first_block {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 50%;
  }
  .input_middle_second_block {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 50%;
  }
  .input_м3 {
    width: 100px;
  }
  .radios_middle {
    display: flex;
    flex-direction: column;
    gap: 5px;
    p {
      margin-bottom: 8px;
      font-size: 20px;
      color: color(dark);
    }
    &_bottom_checkbox {
      margin: 30px 0 0 0;
    }
  }
  .radios_middle_last {
    margin-top: 30px;
  }
  &_columns {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 15px 0;
    gap: 25px;
    border-bottom: 1px solid #bebebe;
    &_item {
      width: 22%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      &_title {
        margin-bottom: 20px;
        p {
          padding: 5px 0 17px 0;
          font-size: 20px;
        }
      }
      &_inputs {
        width: 90%;
        display: flex;
        flex-direction: column;
        gap: 18px;
        .input_м2 {
          width: 100%;
        }
      }
    }
    &_block {
      display: flex;
      align-items: flex-start;
      gap: 50px;
      &_left {
        display: flex;
        flex-direction: column;
        gap: 18px;
        p {
          padding: 10px 0 0 0;
        }
      }
      &_right_block {
        p {
          font-size: 20px;
          margin-bottom: 20px;
        }
      }
      &_right {
        display: flex;
        align-items: baseline;
        flex-wrap: wrap;
        gap: 25px;
      }
    }
    &_block_last {
      flex-direction: column;
      display: flex;
      gap: 5px;
      p {
        margin-bottom: 12px !important;
        font-size: 18px;
      }
    }
    &_checkboks {
      margin: 15px 0;
    }
  }
  &_inputs_second_variant {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 20px 15px;
    p {
      font-size: 18px;
      color: color(dark);
      margin-bottom: 20px;
    }
  }
  .border_top_title {
    border-top: 1px solid #bebebe;
  }
  &_air {
    margin-bottom: 20px;
  }
  &_radios_two {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 12px;
  }
  &_P {
    font-size: 18px;
    margin-bottom: 10px;
    color: color(dark);
  }
  &_input_short {
    width: 200px;
  }
}