@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

.sales_office_container {
  max-width: 600px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.yandex__map {
  height: 500px;
  width: 100%;

  [class*="copyrights-pane"] {
    display: none !important;
  }
}

.styles_map{
  color: color(green);
  font-size: 18px;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
  gap: 5px;
  svg{
    width: 20px;
    height: 20px;
    path{
      fill: color(green)
    }
  }
}