@import 'styles/mixins.scss';
@import 'styles/variables.scss';

.sales_office_container {
  max-width: 600px;
  display: flex;
  justify-content: center;
  margin: 40px auto 80px;
  @include phoneScreen {
    margin: 30px auto 30px;
  }
}

.sales_office_container_items {
  margin: 0 0 150px 0;
  @include ipadScreen {
    margin-bottom: 80px;
  }

  @include phoneScreen {
    margin-bottom: 50px;
  }
}

.separator__title__container {
  margin: 0 0 3% 0;
}

.yandex__map {
  height: 500px;
  width: 100%;
  margin-bottom: 80px;
  [class*="copyrights-pane"] {
    display: none !important;
  }
}

.styles_map{
  color: color(green);
  font-size: 18px;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
  gap: 5px;
  svg{
    width: 20px;
    height: 20px;
    path{
      fill: color(green)
    }
  }
}

.loading_container {
  height: 700px;
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(255 255 255);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  z-index: 1;
  @include ipadScreen {
    display: none;
  }
}
