@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.equipment_container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 40px;
  @include ipadScreen {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &_item{
    overflow: hidden;
    border-radius: 12px;
    &:hover img{
      transform: scale(1.1);

    }

    img {
      width:100%;
      object-fit: fill;
      transition: all 0.3s;
    }
  }
}
