@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(19, 28, 8, 0.8);
  backdrop-filter: blur(3px);
  animation-name: bgModal;
  animation-duration: 300ms;
  @include phoneScreen {
    padding: 0 10px;
  }

  &_close {
    position: absolute;
    right: 15px;
    top: 20px;
    cursor: pointer;
  }

  .modal_dialog {
    width: 100%;
    border-radius: 10px;
    background: color(white);
    position: relative;
    text-align: left;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: slide-in;
    animation-duration: 0.3s;
    .modal_header,
    .modal_footer {
      display: flex;
      align-items: flex-start;
    }

    .modal_header {
      padding: 30px 30px 0 30px;
      justify-content: space-between;
    }

    .modal_body {
      overflow: auto;
      .modal_content {
        padding: 20px 30px 30px 30px;
        color: color(dark);
        line-height: 20px;
        @include phoneScreen {
          padding: 20px;
        }
      }
    }
  }

  .theme {
    &__modal {
      width: 450px;
    }

    &__full_modal {
      max-width: 1920px;
      height: 100vh;
      border-radius: 0;
      padding: 0;
    }
  }
}


@keyframes bgModal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes appear {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes slide-in {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
