@import 'styles/mixins.scss';
@import 'styles/variables.scss';

.map_container {
  justify-content: center;
  flex-direction: column;
  position: relative;
  max-width: 1100px;
  margin: 0 auto 40px;
  //max-height: 450px;
  @include ipadScreen {
    display: none;
  }

  .marker {
    width: fit-content;
    position: absolute;
    cursor: pointer;
    top: 561px;
    left: 417px;
    transition: all 0.3s;

    &:hover {
      transform: scale(1.5);
    }
  }
}

.company__map_svg {
  width: 1100px;
  margin: 0 auto 40px;
  display: flex;
  justify-content: center;
  height: 590px;

  a {
    cursor: pointer;
    transition: all 0.3s;

    &.russia {
      &:hover {
        path, polygon {
          fill: #50944E;
          stroke: rgba(255, 255, 255, 0.1);
        }
      }

      &.active {
        path, polygon {
          fill: #50944E;
          stroke: rgba(255, 255, 255, 0.1);
        }
      }

      path,
      polygon {
        transition: all 0.3s;
        fill: #207812;
        stroke: rgba(255, 255, 255, 0.4);
      }

    }

    &.uzbek {
      &:hover {
        path, polygon {
          fill: #50944E;

        }
      }

      &.active {
        path, polygon {
          fill: #50944E;
          stroke: rgba(255, 255, 255, 0.1);
        }
      }

      path,
      polygon {
        transition: all 0.3s;
        stroke: rgba(255, 255, 255, 0.4);
      }

    }

    &.belarus {
      &:hover {
        path, polygon {
          fill: #50944E;
          transition: all 0.3s;
        }
      }

      &.active {
        path, polygon {
          fill: #50944E;
          transition: all 0.3s;
        }
      }
    }

    &.kazah {
      transition: all 0.3s;

      &:hover {
        transition: all 0.3s;

        path, polygon {
          fill: #50944E;
          stroke-width: 0.5;
          transition: all 0.3s;
        }
      }

      &.active {
        path, polygon {
          fill: #50944E;
        }
      }

      path, polygon {
        fill: #729C90;
        transition: all 0.3s;
        stroke: rgba(255, 255, 255, 0.4);
      }


    }
  }

}

.factory_title {
  font-weight: 500;
  font-size: 25px;
  color: #565656;
  margin: 15px 0;
}

.modal_factory_title {
  font-size: 26px;
  color: color(green);
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 16px;
}

.factory_info {
  margin-top: 16px;

  &_fio {
    font-weight: 400;
    font-size: 16px;
    color: #5c5c5c;
    margin: 0 0 20px 0;

    p {
      font-weight: 500;
      font-size: 18px;
      color: #5c5c5c;
      margin-top: 6px;
    }
  }

  &_services {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: gray;
    font-size: 15px;
    gap: 10px;
    margin-bottom: 6px;
    transition: all 0.3s;

    &:hover {
      a, span {
        color: color(green);
      }
    }

    a, span {
      color: gray;
    }

    p {
      font-weight: 500;
      font-size: 18px;
      color: #5c5c5c;
      margin-top: 6px;
    }

    svg {
      width: 22px;

      path {
        fill: green;
      }
    }
  }
}

.factory_button {
  font-size: 16px;
  font-weight: 500;
  color: #009247;
  display: flex;
  align-items: center;
  margin: 30px 0 10px 0;

  &:hover {
    svg {
      margin-left: 30px;
    }
  }

  svg {
    width: 22px;
    height: 22px;
    transition: all 0.3s;
    margin-left: 20px;

    path {
      fill: #009b00;
    }
  }
}

.side_bar {
  position: absolute;
  left: -60px;
  top: 5px;
  z-index: 1;

  &_title {
    font-weight: 400;
    color: #9c9c9c;
    font-size: 20px;
    margin-bottom: 20px;
  }

  &_checkbox {
    color: #9c9c9c;
    cursor: pointer;
  }
}
