@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

.whowe_container {
  max-width: 600px;
  display: flex;
  justify-content: center;
  margin: 40px auto 130px;

  &_history {
    &_svg {
      display: flex;
      justify-content: flex-start;
      margin-bottom: 6%;
      @include phoneScreen {
        margin-bottom: 3%;
      }
      &_pc {
        display: block;
        @include ipadScreen {
          display: none;
        }
      }
      &_mobile {
        display: none;
        @include ipadScreen {
          display: block;
        }
      }
    }
  }
  &_video{
    max-width: 100%;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
    height: 500px;
    @include ipadScreen {
     height: 300px;
    }

    iframe {
      width: 100%;
      height: 100%;
      margin: 0 auto;
      border-radius: 10px;

    }
  }
}

