@import 'styles/mixins.scss';
@import 'styles/variables.scss';

.news_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows:0.5fr 0.5fr;
  gap: 12px 12px;
  grid-template-areas:
    "col1 col2 col2"
    "col1 col3 col4";
  @include pcScreen {

  }

  @include tabletScreen {

  }

  @include ipadScreen {

  }

  @include phoneScreen {
    display: flex;
    flex-direction: column;
  }
  @include SEScreen {
    display: flex;
    flex-direction: column;
  }

  button {
    transition: all 0.3s;

    span {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
}

.col1 {
  grid-area: col1;

  &:hover {
    button {
      padding-left: 20px;
    }
  }
}

.col2 {
  grid-area: col2;

  &:hover {
    button {
      padding-left: 20px;
    }
  }
}

.col3 {
  grid-area: col3;

  &:hover {
    button {
      padding-left: 20px;
    }
  }
}

.col4 {
  grid-area: col4;

  &:hover {
    button {
      padding-left: 20px;
    }
  }
}

.col1 {
  .news {
    &__item {
      border-radius: 20px 0 0 20px;
      overflow: hidden;
      background-color: color(green);
      height: 100%;
      @include tabletScreen {
        display: flex;
        align-items: center;
        border-radius: 20px;
        flex-direction: column;
      }

      &_left {
        position: relative;
        @include tabletScreen {
          height: auto;
          img {
            object-fit: cover;
          }
        }
      }

      &_info {
        padding: 30px 20px;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        @include SEScreen {
          padding: 0;
          row-gap: 0;
        }

        p {
          color: color(white);
          line-height: 150%;
          @include tabletScreen {
            padding: 10px;
          }

          + button {
            span {
              color: color(white);
            }
          }
        }

        a {
          display: flex;
          align-items: center;
          color: color(white);
        }

        svg {
          margin-left: 2%;
          width: 22px;
          height: 22px;
        }

        path {
          fill: #fff;
        }

       @media (max-width: 600px) {
          width: 100%;
        }
      }
    }

    &__counter {
      &_icon {
        position: absolute;
        display: flex;
        top: 0;
        align-items: center;
        background: color(green);
        color: color(white);
        padding: 10px 12px 10px 12px;
        border-radius: 0 0 6px 0;

        svg {
          width: 18px;
          height: 18px;
          margin-right: 5%;

          path {
            fill: #fff;
          }
        }
      }
    }
  }
}

.col2 {
  .news {
    &__item {
      display: flex;
      align-items: center;
      background: #f3f3f3;
      border-radius: 0 20px 0 0;
      @include tabletScreen {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 20px;
      }

      &_left {
        position: relative;
        height: 300px;
        @include tabletScreen {
          height: auto;
          img {
            object-fit: cover;
          }
        }
        //width: 50%;

        img {
          object-fit: cover;
          border-radius: 20px 20px 0 0;
        }
      }

      &_info {
        width: 48%;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        @include tabletScreen {
          width: 100%;
          padding: 0;
          row-gap: 0;
        }
        p {
          font-size: 14px;
          opacity: 0.8;
          line-height: 150%;
          @include tabletScreen {
            display: block;
            padding: 10px;
          }
        }

        a {
          display: flex;
          align-items: center;
          color: color(dark);
        }

        svg {
          margin-left: 2%;
          width: 22px;
          height: 22px;
        }

        path {
          fill: #212121;
        }
      }
    }

    &__counter {
      &_icon {
        position: absolute;
        display: flex;
        top: 0;
        align-items: center;
        background: color(green);
        color: color(white);
        padding: 10px 12px 10px 12px;
        border-radius: 0 0 6px 0;
        @include tabletScreen {
          border-radius: 20px 0 6px 0;
        }
        svg {
          width: 18px;
          height: 18px;
          margin-right: 5%;

          path {
            fill: #fff;
          }
        }
      }
    }
  }
}

.col3 {
  .news {
    &__item {
      @include tabletScreen {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      &_left {
        position: relative;
        @include tabletScreen {
          height: auto;
          img {
            object-fit: cover;
            @include tabletScreen {
              width: 100%;
              padding: 0;
              row-gap: 0;
              border-radius: 20px 20px 0 0;
            }
          }
        }
      }

      &_info {
        background-color: #f3f3f3;
        padding: 18px 12px;
        height: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        @include tabletScreen {
          display: flex;
          flex-direction: column;
          border-radius:  0 0 20px 20px;

        }
        p {
          color: color(dark);
          line-height: 150%;
        }

        a {
          display: flex;
          align-items: center;
          color: color(dark);
        }

        svg {
          margin-left: 2%;
          width: 22px;
          height: 22px;
        }

        path {
          fill: #212121;
        }

      }
    }

    &__counter {
      &_icon {
        position: absolute;
        display: flex;
        top: 0;
        align-items: center;
        background: color(green);
        color: color(white);
        padding: 10px 12px 10px 12px;
        border-radius: 0 0 6px 0;
        @include tabletScreen {
          border-radius: 20px 0 6px 0;
        }
        svg {
          width: 18px;
          height: 18px;
          margin-right: 5%;

          path {
            fill: #fff;
          }
        }
      }
    }
  }
}

.col4 {
  .news {
    &__item {
      border-radius: 0 0 20px 0;
      overflow: hidden;
      background-color: #009247;
      height: 100%;
      @include tabletScreen {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 20px;
      }

      &_left {
        position: relative;
      }

      &_info {
        background-color: color(green);
        padding: 18px 12px;
        height: 100%;
        border-radius: 0 0 20px 0;
        display: flex;
        flex-direction: column;
        row-gap: 20px;

        p {
          color: color(white);
          line-height: 150%;

          + button {
            span {
              color: color(white);
            }
          }
        }

        a {
          display: flex;
          align-items: center;
          color: color(white);
        }

        svg {
          margin-left: 2%;
          width: 22px;
          height: 22px;
        }

        path {
          fill: #fff;
        }

        @media (max-width: 600px) {
          height: 100%;
        }
      }
    }

    &__counter {
      &_icon {
        position: absolute;
        display: flex;
        top: 0;
        align-items: center;
        background: color(green);
        color: color(white);
        padding: 10px 12px 10px 12px;
        border-radius: 0 0 6px 0;

        svg {
          width: 18px;
          height: 18px;
          margin-right: 5%;

          path {
            fill: #fff;
          }
        }
      }
    }
  }
}


