@import 'styles/mixins.scss';
@import 'styles/variables.scss';

.forms__container {
  margin: 80px 0 130px 0;
  padding: 0 10px;
  @include ipadScreen {
    margin: 50px 0 80px 0;
  }
}

//Форма авторизации
.box_field {
  input {
    width: 100%;
  }
}

.authorization__form {
  max-width: 550px;
  margin: 50px auto 0;
  background: color(white);
  box-shadow: 0 0 15px rgb(0 0 0 / 12%);
  border-radius: 10px;
  padding: 25px 20px 30px 20px;
  @include phoneScreen {
    padding: 25px 12px 30px 12px;
  }

  button {
    @include phoneScreen {
      width: auto;
      padding: 10px 50px;
      font-size: 14px;
    }
  }

  &__item__title {
    h1 {
      font-size: 30px;
      margin-bottom: 20px;
      color: grey;
      @include phoneScreen {
        font-size: 26px;
      }
    }
  }

  &__item__input {
    font-size: 12px;
    .overflow {
      margin-top: 5px;
      transition: all 0.3s;
      height: 23px;
      opacity: 0;
      transform: translateY(-10px);
      span {
        margin: 0 0 0 10px;
      }
    }

    &_error {
      color:  color(error);
      border-radius: 8px;
      font-size: 12px;
      position: relative;
      .overflow__auto {
        margin-top: 5px;
        opacity: 1;
        transition: all 0.3s;
        transform: translateY(0px);
        height: 23px;
      }

      .input__item {
        border-color: red;
      }
    }
  }

  &__item__answer {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin: 20px 0;
    @include phoneScreen {
      flex-direction: column-reverse;
      align-items: flex-start;
      gap: 22px;
    }

    button {
      width: 170px;
      b {
        padding-right: 20px;
      }
    }

    > span {
      display: flex;
      align-items: center;
      font-size: 14px;
      font-weight: 400;
      color: #ff0000;
      padding: 11px 12px;
      text-align: right;
      border: 1px solid #efefef;
      background: #fff;
      border-radius: 5px;
      @include phoneScreen {
        width: 100%;
        box-sizing: border-box;
      }

      svg {
        width: 20px;
        height: 20px;
        margin-right: 8px;
      }
    }
  }
}

.checkbox__auth {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  .overflow__auto {
    width: 300px;
    @include ipadScreen {
      width: 200px;
    }
  }

  a {
    color: color(dark);
    font-size: 14px;
    margin-top: 5px;
    transition: all 0.3s;
  
    &:hover {
      color: color(green);
      transform: translateX(3px);
    }
  }
}

//Форма регистрации
.registration__form {
  max-width: 550px;
  margin: 30px auto 0;
  background: color(white);
  box-shadow: 0px 0px 15px rgb(0 0 0 / 12%);
  border-radius: 10px;
  padding: 20px 20px;
  button {
    @include phoneScreen {
      width: auto;
      padding: 10px 22px;
      font-size: 14px;
    }
  }

  &__items {
    overflow: hidden;
    &__title {
      h1 {
        font-size: 30px;
        margin-bottom: 20px;
        color: grey;
      }
    }

    &__input {
      display: flex;
      justify-content: space-between;
      gap: 40px;
      margin: 0 0 10px 0;
      @media (max-width: 550px) {
        flex-direction: column;
        gap: 0;
      }
    }
  }

  &__item__answer {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin: 30px 0 20px 0;
    @media (max-width: 550px) {
      flex-direction: column-reverse;
      align-items: self-start;
      gap: 20px;
    }
    span {
      display: flex;
      align-items: center;
      font-size: 14px;
      font-weight: 400;
      color: #ff0000;
      padding: 11px 12px;
      text-align: right;
      border: 1px solid #efefef;
      background: #fff;
      border-radius: 5px;
      @media (max-width: 550px) {
        width: 100%;
        box-sizing: border-box;
      }

      svg {
        width: 20px;
        height: 20px;
        margin-right: 8px;
      }
    }
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 40px;
    row-gap: 40px;
    @include phoneScreen {
      display: flex;
      flex-direction: column;
      row-gap: 0;
    }

    ul {
      width: 100%;
      input {
        width: 100%;
      }
    }

    &:nth-child(6) {
      margin-bottom: 20px;
    }

    &__forgot {
      margin: 0 0 20px 0;
    }
  }

  &__item__input {
    font-size: 12px;
    width: 100%;
    display: flex;
    flex-direction: column;
    .overflow {
      margin-top: 5px;
      transition: all 0.3s;
      height: 23px;
      opacity: 0;
      transform: translateY(-10px);
      span {
        margin: 0 0 0 10px;
      }
    }

    &_error {
      color: red;
      border-radius: 8px;
      font-size: 12px;
      width: 100%;
      .overflow__auto {
        margin-top: 5px;
        opacity: 1;
        transition: all 0.3s;
        transform: translateY(0px);
        height: 23px;
        span {
          margin: 0 0 0 10px;
        }
      }

      .input__item {
        border-color: red;
        width: 100%;
      }
    }
  }

  &__selected {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    @include phoneScreen {
      flex-direction: column;
      margin-top: 33px;
    }
  }

  &__select {
    width: 100%;
    @include phoneScreen {
      width: 100%;
      &:first-child {
        margin-bottom: 20px;
      }
    }
  }
}

.box_field_registr {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 45px;
  input {
    width: 100%;
  }

  @include phoneScreen {
    grid-template-columns: 1fr;
  }

  .support__form {
    display: block;
  }
}

//форма для Восстановление пароля
.forgot__form {
  max-width: 550px;
  margin: 200px auto;
  background: color(white);
  box-shadow: 0px 0px 15px rgb(0 0 0 / 12%);
  padding: 0 10px;
  border-radius: 10px;
  button {
    @include phoneScreen {
      width: auto;
      padding: 10px 22px;
      font-size: 14px;
    }
  }

  h1 {
    font-size: 30px;
    margin-bottom: 20px;
    color: grey;
    @include SEScreen {
      font-size: 26px;
    }
  }

  &__item {
    padding: 20px 10px 30px 10px;
    input {
      width: 100%;
    }
  }

  &__item__input {
    font-size: 12px;
    margin-top: 10px;
    .overflow {
      margin-top: 5px;
      transition: all 0.3s;
      height: 23px;
      opacity: 0;
      transform: translateY(-10px);
      span {
        margin: 0 0 0 10px;
      }
    }

    &_error {
      color: red;
      border-radius: 8px;
      font-size: 12px;
      position: relative;
      .overflow__auto {
        margin-top: 5px;
        opacity: 1;
        transition: all 0.3s;
        transform: translateY(0px);
        height: 23px;
        span {
          margin: 0 0 0 10px;
        }
      }

      .input__item {
        border-color: red;
      }
    }
  }
}


