@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

//Форма авторизации
.authorization__form {
  max-width: 550px;
  margin: 0 auto;
  background: #f3f3f3;
  border-radius: 10px;
  padding: 5px 20px 30px 20px;
  input {
    width: 100%;
  }

  &__item__forgot {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 22px 0;
    input {
      width: 21px !important;
    }

    a {
      color: color(dark);
      transition: all 0.3s;

      &:hover {
        color: color(green);
        transform: translateX(3px);
      }
    }
  }
}

//Форма регистрации
.registration__form {
  max-width: 550px;
  margin: 30px auto 0;
  background: #f3f3f3;
  border-radius: 10px;
  padding: 20px 20px;
  button {
    margin: 30px 0 20px 0;
    width: 220px;
  }

  &__items {
    overflow: hidden;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 40px;
    row-gap: 40px;

    @include phoneScreen {
      display: flex;
      flex-direction: column;
      row-gap: 0;
    }

    &:nth-child(4) {
      width: 100%;

      input {
        width: 100%;
      }
    }

    &:nth-child(6) {
      margin-bottom: 20px;
    }

    input {
      width: 100%;
    }
  }

  &__selected {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    @include phoneScreen {
      flex-direction: column;
      margin-top: 33px;
    }
  }

  &__select {
    width: 46%;
    @include phoneScreen {
      width: 100%;
      &:first-child {
        margin-bottom: 20px;
      }
    }
  }
}

//форма для Восстановление пароля
.forgot__form {
  max-width: 550px;
  margin: 200px auto 0;
  h1 {
    font-size: 40px;
    color: color(dark);
    margin-bottom: 18px;
    font-weight: 500;
  }

  &__item {
    background: #f3f3f3;
    border-radius: 10px;
    padding: 20px 20px 30px 20px;
    input {
      width: 100%;
    }
  }

  button {
    margin: 30px 0 0 0;
  }
}


    