@import 'styles/mixins.scss';
@import 'styles/variables.scss';

.news_container {
  &_item {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    transition: all 0.3s;
    background-color: transparent;
    row-gap: 10px;
    box-shadow: 0 0 35px rgb(126 126 126 / 16%);
    border-radius: 10px;
    overflow: hidden;
    @include phoneScreen {
      margin-top: 20px;
    }
    &:last-child {
      margin-bottom: 60px;
    }

    @include ipadScreen {
      row-gap: 0;
      flex-direction: column;
      align-items: center;
    }

    button {
      transition: all 0.3s;
    }

    &:hover {
      box-shadow: 0 0 30px rgba(10, 176, 22, 0.4);
      transition: all 0.3s;
      border-color: #0AB016;

      button {
        padding-left: 20px;
      }
    }

    &:first-child {
      transition: all 0.3s;
    }

    &:nth-child(odd) {
      .news_container_item_right {
        order: 0;
        border-radius: 10px 0 0 10px;
        overflow: hidden;
        @include ipadScreen {
          padding: 20px 10px 20px 20px;
          order: 1;
          border-radius: 0 0 10px 10px;
          gap: 20px;
        }
      }

      .news_container_item_image {
        position: relative;
        span {
          position: absolute;
          z-index: 1;
          color: color(white);
          display: flex;
          align-items: center;
          right: 0;
          gap: 10px;
          background-color: color(green);
          padding: 10px 12px;
          border-radius: 0 0 0 10px;

          svg {
            width: 18px;
            height: 18px;

            path {
              fill: color(white);
            }
          }
        }
      }

      .news_container_item_image {
        order: 1;
        border-radius: 0;
      }
    }

    .news_container_item_image {
      span {
        position: absolute;
        z-index: 1;
        color: color(white);
        display: flex;
        align-items: center;
        gap: 10px;
        background-color: color(green);
        padding: 10px 12px;
        border-radius: 0 0 10px 0;

        svg {
          width: 18px;
          height: 18px;

          path {
            fill: color(white);
          }
        }
      }
    }

    &_image {
      width: 40%;
      height: 320px;
      overflow: hidden;
      position: relative;
      @include tabletScreen {
        width: 100%;
      }

      @include phoneScreen {
        height: 300px;
      }

      &:nth-child(even) {
        .news_container_item_right {
          order: 0;
          border-radius: 10px 0 0 10px;
          @include ipadScreen {
            order: 1;
            border-radius: 0 0 10px 10px;
            gap: 20px;
          }
        }
      }

      img {
        width: 100%;
        order: 1;
        @include ipadScreen {
          order: 0;
        }
      }
    }

    &:hover &_right {
      background-color: #0AB016;
      transition: all 0.3s;

      span {
        color: color(white);
      }

      svg {
        width: 22px;
        height: 22px;

        path {
          fill: white;
        }
      }

      &_title {
        color: color(white);
        transition: all 0.3s;
      }

      &_desc {
        color: color(white);
        transition: all 0.3s;
      }
    }

    img {
      width: 100%;
      overflow: hidden;
      order: 0;
      object-fit: cover;
      @include ipadScreen {
        border-radius: 10px 10px 0 0;
      }
    }

    &_right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 20px;
      transition: all 0.3s;
      border-radius: 0 10px 10px 0;
      order: 1;
      width: 70%;
      @include ipadScreen {
        border-radius: 0 0 10px 10px;
        padding: 10px 10px 20px 10px;
        gap: 30px;
        width: 100%;
        box-sizing: border-box;
      }

      span {
        color: color(dark);
        font-weight: 500;
        display: flex;
        align-items: center;
        gap: 10px;
      }

      svg {
        width: 22px;
        height: 22px;
      }

      &_title {
        font-weight: 600;
        font-size: 25px;
        font-style: normal;
        line-height: 145%;
        letter-spacing: 0.025em;
        color: color(dark);
        @media (max-width: 550px) {
          font-weight: 500;
          font-size: 22px;
          font-style: normal;
          line-height: 145%;
        }
      }

      &_desc {
        font-size: 16px;
        line-height: 150%;
        color: color(dark);
        @include ipadScreen {
          padding-top: 0;
        }
      }
    }
  }
}

.new_with_out_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));;
  margin-top: 100px;
  gap: 25px;
  margin-bottom: 50px;

  .news_container {
    &_item {
      display: grid;
      transition: all 0.3s;
      border-radius: 15px;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      background-color: transparent;
      row-gap: 10px;
      box-shadow: 0 0 35px rgb(126 126 126 / 16%);
      overflow: hidden;

      &:hover {
        box-shadow: 0 0 30px rgba(10, 176, 22, 0.4);
        transition: all 0.3s;
        border-color: #0AB016;

        &_right {
          background-color: #0AB016;
          transition: all 0.3s;

          span {
            color: color(white);
          }

          svg {
            width: 22px;
            height: 22px;

            path {
              fill: white;
            }
          }

          &_title {
            color: color(white);
            transition: all 0.3s;
          }

          &_desc {
            color: color(white);
            transition: all 0.3s;

          }

          button {
            padding-left: 20px;
          }
        }
      }

      @include ipadScreen {
        row-gap: 0;
      }

      &_image {
        width: 100%;
        @include phoneScreen {
          width: 60%;
        }
      }

      button {
        transition: all 0.3s;
      }

      &:first-child {
        transition: all 0.3s;
      }

      &:nth-child(even) {
        .news_container_item_right {
          width: 100%;
          box-sizing: border-box;
          @include ipadScreen {
            border-radius: 0 0 10px 10px;
            gap: 20px;
          }
        }

        img {
          border-radius: 0 10px 10px 0;
          @include ipadScreen {
            order: 0;
            border-radius: 10px 10px 0 0;
          }
        }
      }

      &:hover &_right {
        background-color: #0AB016;
        transition: all 0.3s;

        span {
          color: white;
        }

        svg {
          width: 22px;
          height: 22px;

          path {
            fill: white;
          }
        }

        &_title {
          color: white;
          transition: all 0.3s;
        }

        &_desc {
          color: white;
          transition: all 0.3s;

        }
      }

      img {
        width: 100%;
        height: 330px;
        border-radius: 10px 0 0 10px;
        overflow: hidden;
        order: 0;
        object-fit: cover;
      }

      &_right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px;
        transition: all 0.3s;
        order: 1;
        width: 100%;
        box-sizing: border-box;
        border-radius: 0;
        @include ipadScreen {
          border-radius: 10px;
          padding: 10px 10px 20px 10px;
          gap: 30px;
        }

        span {
          color: color(dark);
          font-weight: 500;
          display: flex;
          align-items: center;
          gap: 10px;
        }

        svg {
          width: 22px;
          height: 22px;
        }

        &_title {
          font-weight: 600;
          font-size: 25px;
          font-style: normal;
          line-height: 50px;
          letter-spacing: 0.025em;
          color: color(dark);
          @media (max-width: 1200px) {
            font-weight: 500;
            font-size: 22px;
            font-style: normal;
          }
        }

        &_desc {
          font-size: 16px;
          line-height: 150%;
          color: color(dark);
          padding-top: 20px;
          @media (max-width: 1200px) {
            padding-top: 0;
          }
        }
      }
    }
  }

  &_item {
    &:hover img {
      box-shadow: 0 0 30px rgba(10, 176, 22, 0.4);
    }

    &:hover {
      button {
        padding-left: 20px;
        transition: all 0.3s;
      }
    }

    button {
      transition: all 0.3s;
      position: absolute;
      top: 3%;
      left: 3%;
      color: color(white);

      span {
        display: flex;
        align-items: center;
        gap: 10px;
      }

      svg {
        width: 22px;
        height: 22px;

        path {
          fill: white;
        }
      }
    }

    &_desc {
      text-align: center;
      margin-top: 25px;

      a {
        font-size: 16px;
        line-height: 150%;
        color: color(dark);
        font-weight: 400;
        transition: all 0.3s;

        &:hover {
          color: #088122;
        }
      }
    }

    img {
      width: 100%;
      height: 376px;
      object-fit: cover;
      border-radius: 20px;
      transition: all 0.3s;
    }

    &_svg {
      svg {
        position: absolute;
        top: 0;
        left: 0;
        width: 276px;
        height: 209px;
        overflow: hidden;
        border-radius: 20px 0 0 0;
      }
    }
  }
}

.news {
  &__active {
    position: relative;
    margin: 0 0 130px 0;
    @include phoneScreen {
      margin-bottom: 80px;
    }
    img {
      margin-top: 40px;
      @include phoneScreen {
        margin-top: 30px;
      }
    }

    .view_count {
      position: absolute;
      top: 0;
      background-color: color(green);
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 5px 10px;
      color: color(white);
      svg {
        path {
          fill: color(white);
        }
      }

      border-radius: 0 0 10px 0;
    }

    &__title {
      margin-top: 30px;
      h1 {
        border-left: 3px solid color(green);
        padding-left: 15px;
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 145%;
        width: 60%;
        letter-spacing: 0.025em;
        color: color(green);
        margin-bottom: 30px;
        @include phoneScreen {
          width: 100%;
          margin-bottom: 10px;
        }
      }

      p {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 145%;
        color: color(text);
        margin-bottom: 15px;
        @include phoneScreen {
          margin-bottom: 10px;
        }
      }
    }

    &__keyword {
      padding-top: 30px;
      width: 60%;
      @include phoneScreen {
        width: 100%;
        margin-bottom: 10px;
        padding-top: 20px;
      }
      h2 {
        border-left: 3px solid color(green);
        padding-left: 15px;
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 145%;
        letter-spacing: 0.025em;
        color: color(green);
        margin-bottom: 30px;
        @include phoneScreen {
          line-height: 125%;
          font-size: 20px;
          margin-bottom: 18px;
        }
      }

      &__paragraph {
        display: flex;
        flex-direction: column;
        row-gap: 5px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 145%;
        @include phoneScreen {
          display: flex;
          flex-direction: column;
          row-gap: 10px;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 145%;
        }
    a {
      width: fit-content;
      span {
        padding-bottom: 5px;
        border-bottom: 1px solid color(dark);
        color: color(dark);

        &:hover {
          color: color(text-hover);
          border-bottom: 1px solid color(text-hover);
        }
      }
    }
  }
}

&__video {
  video {
    width: 100%;
  }
}

&__info {
  &__right {
    h2 {
      border-left: 3px solid color(green);
      padding-left: 15px;
      font-style: normal;
      font-weight: 400;
      font-size: 25px;
      line-height: 145%;
      letter-spacing: 0.025em;
      color: color(green);
      margin-bottom: 8px;
      margin-top: 40px;
      display: flex;
      text-align: left;
      width: 60%;
      @include phoneScreen {
        border-left: 2px solid color(green);
        width: 100%;
        line-height: 125%;
        font-size: 20px;
        margin: 10px 0 20px 0;
      }
    }

    ul {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: color(dark);
      @include phoneScreen {
        margin: 10px 0 0 0;
      }
      li {
        margin-bottom: 5px;
      }
    }
  }
}
}
}

.add_button {
  display: flex;
  justify-content: flex-end;
}

.gallery {
  margin-top: 40px;
  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 12px;
    @include ipadScreen {
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    }
    @include phoneScreen {
      gap: 8px;
    }
    img {
      width: 100%;
      margin: 0;
      border-radius: 10px;
    }
  }
}