@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.news_container {
  &_item {
    display: grid;
    margin-top: 40px;
    transition: all 0.3s;
    border-radius: 10px;
    grid-template-columns: repeat(auto-fit, minmax(490px, 1fr));
    background-color: transparent;
    row-gap: 10px;
    margin-left: 5px;
    @include ipadScreen {
      row-gap: 0;
    }

    button {
      transition: all 0.3s;
    }

    &:hover {
      button {
        padding-left: 20px;
      }
    }

    &:first-child {
      transition: all 0.3s;
    }

    &:nth-child(even) {

      .news_container_item_right {
        @include ipadScreen {
          order: 1;
          border-radius:  0 0 10px 10px;
        }
        order: 0;
        border-radius: 10px 0 0 10px;
      }

      img {
        @include ipadScreen {
          order: 0;
          border-radius: 10px 10px 0 0;

        }
        order: 1;
        border-radius: 0 10px 10px 0;
      }
    }

    &:hover {
      box-shadow: 0 0 17px #088122;
      transition: all 0.3s;
    }

    &:hover &_right {
      background-color: #0AB016;
      transition: all 0.3s;
      span {
        color: white;
      }

      svg {
        width: 22px;
        height: 22px;
        path {

          fill: white;
        }
      }

      &_title {
        color: white;
        transition: all 0.3s;
      }

      &_desc {
        color: white;
        transition: all 0.3s;
        
      }
    }

    img {
      width: 100%;
      height: 376px;
      border-radius: 10px 0 0 10px;
      overflow: hidden;
      order: 0;
      object-fit: cover;
      @include ipadScreen {
        border-radius: 10px 10px 0 0;
      }
    }

    &_right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 20px 40px;
      transition: all 0.3s;
      border-radius: 0 10px 10px 0;
      order: 1;
      @include ipadScreen {
        border-radius: 0 0 10px 10px;
        padding: 10px 10px 20px 10px;
      }

      span {
        color: #212121;
        font-weight: 500;
        display: flex;
        align-items: center;
        gap: 10px;
      }

      svg {
        width: 22px;
        height: 22px;
      }

      &_title {
        font-weight: 600;
        font-size: 35px;
        font-style: normal;
        line-height: 50px;
        letter-spacing: 0.025em;
        color: #212121;
      }

      &_desc {
        font-size: 16px;
        line-height: 150%;
        color: #212121;
        padding-top: 20px;
        @include ipadScreen {
          padding-top: 0;
        }
      }
    }
  }
}

.new_with_out_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));;
  margin-top: 100px;
  gap: 40px;
  margin-bottom: 50px;

  &_item {
    &:hover img {
      box-shadow: 0 0 17px #088122;
    }

    &:hover {
      button {
        padding-left: 20px;
        transition: all 0.3s;
      }
    }

    button {
      transition: all 0.3s;
      position: absolute;
      top: 3%;
      left: 3%;
      color: white;
      span {
        display: flex;
        align-items: center;
        gap:10px;
      }
      svg {
        width: 22px;
        height: 22px;
        path {
          fill: white;
        }
      }
    }

    position: relative;

    &_desc {
      text-align: center;
      margin-top: 25px;

      a {
        font-size: 16px;
        line-height: 150%;
        color: #212121;
        font-weight: 400;
        transition: all 0.3s;

        &:hover {
          color: #088122;
        }
      }
    }

    &_svg {

      svg {
        position: absolute;
        top: 0;
        left: 0;
        width: 276px;
        height: 209px;
        overflow: hidden;
        border-radius: 20px 0 0 0;
      }
    }
  }

  img {
    width: 100%;
    height: 330px;
    object-fit: cover;
    border-radius: 20px;
    transition: all 0.3s;
  }
}
