@import 'styles/variables.scss';

.breadcrumbs_container {

  ul {
    display: flex;
    align-items: center;
    font-size: 14px;
    justify-content: center;
    color: color(bredcrumbs_link);
    margin-top: 40px;

    li {
      align-items: center;
      display: flex;

      a {
        display: flex;
        align-items: center;
        text-decoration: underline;

        > svg {
          width: 15px;
          height: 15px;
          padding-right: 10px;
          fill: color(bredcrumbs);
        }
      }

      span {
        padding: 0 5px;

        svg {
          width: 10px;
          height: 10px;
          position: relative;
          top: 1px;

          path {
            fill: color(bredcrumbs);
          }
        }
      }

      a {
        transition: all 0.3s;
        font-size: 14px;
        color: color(bredcrumbs_link);
        text-transform: capitalize;

        &:hover {
          color: (green);

          svg {
            transition: all 0.3s;
            fill: color(green);
          }
        }
      }
    }
  }
}