@import 'styles/variables.scss';

.breadcrumbs_container {

  ul {
    display: flex;
    align-items: center;
    font-size: 14px;
    justify-content: center;
    color: color(bredcrumbs_link);
    margin-top: 40px;

    li {
      align-items: center;
      display: flex;
      padding: 6px 0;

      a {
        color: color(bredcrumbs);
        font-size: 14px;
        transition: all 0.3s;
        letter-spacing: 0.025em;
        position: relative;
        &:hover {
          color: color(bredcrumbs_hover);
          &::after {
            width: 100%;
            background-color: #7D7D7D;
            @media (max-width: 1200px) {
              display: none;
            }
          }
        }

        &::after {
          content: "";
          display: block;
          position: absolute;
          left: 0;
          bottom: -6px;
          width: 0;
          height: 1px;
          background-color: transparent;
          transition: width 0.3s;
          @media (max-width: 1200px) {
            display: none;
          }
        }
      }

      span {
        padding: 0 8px;
        svg {
          width: 10px;
          height: 10px;
          position: relative;
          top: 1px;
          path {
            fill: color(bredcrumbs);
          }
        }
      }
    }
  }
}