@import 'styles/mixins.scss';
@import 'styles/variables.scss';

.swiper {
  width: 100%;

  .swiper-pagination {
    margin: 15px auto 0;
    width: fit-content !important;
    .swiper-pagination-bullet {
      width: 15px;
      height: 15px;
      text-align: center;
      display: inline-block;
      border-radius: 50%;
      line-height: 20px;
      font-size: 12px;
      opacity: 0;
      background: #2E6143;
      cursor: pointer;

    }

    .swiper-pagination-bullet-active {
      color: #fff;
      opacity: 1;
      margin: 0 2px;
    }

    .swiper-pagination-bullet-active-next,
    .swiper-pagination-bullet-active-prev {
      transform: scale(0.66);
      opacity: 0.2;
      margin-right: 2px;
    }

    .swiper-pagination-bullet-active-next-next,
    .swiper-pagination-bullet-active-prev-prev {
      transform: scale(0.33);
      opacity: 0.2;
      margin-left: -5px;
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    color: color(green);
  }

  .swiper-button-next {
    right: 0;
    left: auto;
  }

  .swiper-button-prev {
    left: 0;
    right: auto;
  }

  .swiper-wrapper {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
  }
}
