$colors: (
  black: #000,
  dark: #212121,
  white: #FFF,
  lightgreen: #2E6143,
  green: #009247
);

$screenWidth: (
  pc: 1920px,
  tablet: 1300px,
  ipad: 1024px,
  phone: 768px,
  SE: 375px,
);


@function screenWidth($key) {
  @return map-get($map: $screenWidth, $key: $key);
}
  
@function color($key) {
  @return map-get($map: $colors, $key: $key);
}