@import 'styles/mixins.scss';
@import 'styles/variables.scss';

.equipment__block {
  margin-bottom: 150px;
  @include ipadScreen {
    margin-bottom: 80px;
  }

  @include phoneScreen {
    margin-bottom: 50px;
  }
}

.Decision_container {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  padding: 50px 0;
  position: relative;
  @media (max-width: 1200px) {
    flex-direction: column;
  }

  .button_editor {
    position: absolute;
    bottom: 40px;
    right: 0;
    border: 1px solid #9d9d9d;
    border-radius: 50%;
    &:hover {
      border-color: color(white);
    }
  }

  &_img {
    height: 500px;
    min-width: 40%;
    border-radius: 20px;
    overflow: hidden;
    @media (max-width: 1200px) {
      min-width: 100%;
    }

    @include phoneScreen {
      height: 350px;
    }
  }

  img {
    display: block;
    object-fit: cover;
  }

  &_info {
    h1 {
      margin-bottom: 10px;
      line-height: 50px;
      font-size: 38px;
      font-weight: 500;
      color: color(dark);
      @include phoneScreen {
        font-size: 22px;
        line-height: 122%;
        margin-bottom: 5px;
        font-weight: 400;
      }
    }

    p {
      font-weight: normal;
      font-size: 16px;
      line-height: 150%;
      color: color(dark);
    }
  }
}


