@import 'styles/mixins.scss';
@import 'styles/variables.scss';

.equipment__block {
  margin-bottom: 150px;
  @include ipadScreen {
    margin-bottom: 80px;
  }

  @include phoneScreen {
    margin-bottom: 50px;
  }
}

.Decision_container{
  display: flex;
  gap: 20px;
  align-items: flex-start;
  padding: 60px 10px 0 10px;
  @media (max-width: 1200px) {
    flex-direction: column;
  }

  &_img {
    height: 500px;
    min-width: 40%;
    border-radius: 20px;
    overflow: hidden;
    @media (max-width: 1200px) {
      min-width: 100%;
    }

    @include phoneScreen {
      height: 350px;
    }
  }

  img {
    display: block;
    object-fit: cover;
  }

  &_info{
    h1{
      margin-bottom: 10px;
      line-height: 50px;
      font-size: 38px;
      font-weight: 500;
      @include phoneScreen {
        font-size: 30px;
        line-height: 145%;
      }
    }

    p{
      font-weight: normal;
      font-size: 16px;
      line-height: 150%;
      color: #212121;
    }
  }
}
